/*********************************/
/*   input con boton auxiliar    */

.input-auxbtn {
    display: inline-block;
    margin: $inputauxbtn-margin;
    vertical-align: $inputauxbtn-valign;
    
    white-space: nowrap;
}

.sticked-input-right,
.sticked-input-left {
    display: inline-block;
    //margin: 0;
    //position: relative;
    // height: $inputauxbtn-btn-height;
    
    //line-height: $inputauxbtn-btn-line-height;
    vertical-align: text-bottom;
}

.sticked-input-right {
    margin-right: 0;
    
    @include border-radius(3px 0 0 3px);
}

.sticked-input-left {
    margin: 0 0 0 -1px;
    
    border-left-color: #CCC;
    
    @include border-radius(0 3px 3px 0);
}

.simbutton.stick-btn-right,
.stick-btn-right,
.simbutton.stick-btn-left,
.stick-btn-left {
    display: inline-block;
    padding: 5px 8px 3px 8px;
    position: relative;
    /* height: 18px; */
    margin: 0;
    
    // line-height: 18px;
    vertical-align: text-bottom;
    white-space: nowrap;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

    border: 1px solid #CCC;
    border-color: #D9D9D9 #BABABA #A3A3A3 #CCC;
    
    @include box-shadow(none);

    @include background(linear-gradient(to bottom, rgba(234,231,231,1) 0%,rgba(184,184,184,1) 100%));
}

.simbutton.stick-btn-right,
.stick-btn-right {
    margin: 0 10px 0 -1px;

    @include border-radius(0 3px 3px 0);
}

.simbutton.stick-btn-left,
.stick-btn-left {
    margin: 0 -1px 0 0;
    
    @include border-radius(3px 0 0 3px);
}

.stick-btn-right .ui-icon,
.stick-btn-right .#{$ns}-icon,
.stick-btn-left .ui-icon,
.stick-btn-left .#{$ns}-icon, {
    display: inline-block;
}