/* Buttonbar */

.#{$ns}-buttonbar {
    @extend %menu;
    
    display: inline-block;
    margin: $buttonbar-margin;
    vertical-align: $buttonbar-verticalalign;
    
    text-shadow: $buttonbar-text-shadow;

    @include border($buttonbar-border-width, $buttonbar-border-style, $buttonbar-border-color);

    @include border-radius($buttonbar-border-radius);
    
    @include background($buttonbar-bg);
    
    @include box-shadow($buttonbar-box-shadow);

    @include ie-shadow();

    

    &.buttonbar__mini {
        .buttonbar--btn {
            @extend %button;

            padding: 5px 8px;
            margin: 0;

            border: none;
        }
    }
}

.#{$ns}-buttonbar--item {
    margin: 0;
    
    @include breakpoint($break-mobile, $no-query: $noquery) {
        float: left;
        
        border-left: 1px solid $buttonbar-border-color;
    }

    &:first-child {
        border-left: none;
    }

    .buttonbar--btn {
        @extend %button;

        margin: 0;

        border: none;
    }
}