<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->


<head>
	<div th:replace="common/inside_layout :: head"></div>	


<script th:src="|${#httpServletRequest.getContextPath()}/js/token.js?v=${session.versionNumber}|"></script> 

</head>

<body>
	<!-- CONTAINER -->
	<div id="container" class="mf-container">

		<!-- BROWSERS / JS -->
		<div th:replace="common/header :: nocompl"></div>

		<!-- HEADER -->
		<div th:replace="common/header :: header"></div>

		<!-- WRAPPER -->
		<div id="wrap" class="mf-wrapper">
		
			<!-- CAJAS DE ADVERTENCIA-->
			<div th:replace="common/message :: message"></div>
			<div th:include="common/message :: js"></div>
			
			<div th:if="${param.error}" th:remove="tag">    
                   <script>
                   $("#tipoMensaje").val(4);
                   $("#valorMensaje").val("Acceso no permitido");
                   </script>
            </div>

			<!-- AQUI EL CONTENIDO-->
			<div id="login" class="mf-login">
				<div class="mf-login--content">
				
					<div id="valoresToken" class="mf-login--column">
  						<h3 class="mf-login--title" th:text="#{login.puestaDisposicion}"></h3>
			 			<form id="puestaDisposicionForm" th:action="@{/puestaDisposicion}" method="post">
							
							<div th:fragment="puestaDisposicion">
							<input type="hidden" name="navegador" id="navegador" />
								
								<div class="fld">
									<label for="identificador" th:text="#{expedientesAlmacenados.identificador}"></label> 
									<input type="text" id="tokenIdentificador" name="tokenIdentificador" value="" maxlength="55" class="large"/>
								</div>
								<div class="fld">
									<label for="csv" th:text="#{expedientesAlmacenados.csv}"></label>
									<input type="text" id="tokenCsv" name="tokenCsv" value="" maxlength="55" class="large" />
								</div>
								<div class="fld">
									<label for="uuid" th:text="#{expedientesAlmacenados.uuid}"></label>
									<input type="text" id="tokenUuid" name="tokenUuid" value="" maxlength="55" class="large"/>
								</div>
								
								<div class="block">
									<div class="fld">
										<button class="primary" type="submit" name="submit" id="buttonSubmit">
											<span th:text="#{button.descargar}"></span>
										</button>
										
									</div>
									<div id="contenedorFichero" ondrop="handleFileSelectToken(null,event)" ondragover="handleDragOverToken(event)">
										<output id="ficheroArrastradoToken">
												<label for="textoArrastrarFichero" th:text="#{expedientesAlmacenados.Token.ficheroClaves}"></label>
										</output>
									</div>
										
								</div>
													
																
							</div>
						</form>
					</div>
					
				</div>
			</div>

		</div>
	</div>
	<div th:replace="common/footer :: footer"></div>
	<div th:replace="common/footer :: js"></div>
</body>

</html>