<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="common/inside_layout">

<head>
    
    <script th:src="|${#httpServletRequest.getContextPath()}/js/generarDocumento.js?v=${session.versionNumber}|"></script>
    <script th:src="|${#httpServletRequest.getContextPath()}/js/metadatos.js?v=${session.versionNumber}|"></script>
    
    <!-- Mini applet afirma -->
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/constantes.js?v=${session.versionNumber}|"></script>
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/miniapplet.js?v=${session.versionNumber}|"></script>
</head>

<body>

    <div layout:fragment="content">
        <header class="mf-window-header">
            <div class="mf-window-header--hgroup">
	            <nav class="mf-breadcrumb" role="navigation">
	                <ol class="mf-breadcrumb--menu">
	                    <li class="mf-breadcrumb--item"><a href="principal" th:text="#{layout.menu.option.inicio}"></a></li>
	                    <li class="mf-breadcrumb--item"><a href="documentosAlmacenados" th:text="#{generadorDocumentos.almacenados}"></a></li>
	                </ol>
	            </nav>
                <h3 class="mf-window-header--title"
                    th:utext="#{editarDocumento.tittle}"></h3>
            </div>
			<ul class="mf-window-toolbar" id="actionButtonsGeneral" sec:authorize="!hasRole('CONSULTA_ROLE')">
				<li class="mf-window-toolbar--tool"><a href="#!"
					onclick="updateDocument()"> <span class="mf-icon mf-icon-save2"></span>
						<span th:text="#{generarDocumento.actualizarDocumento}"></span>
				</a></li>

				<li class="mf-window-toolbar--tool"><a style="cursor: pointer"
					onclick="showAyudaDialog()"> <span
						class="mf-icon mf-icon-globe-help"></span> <span
						th:text="#{generarExpediente.ayuda}"></span>
				</a></li>
			</ul>
            <ul class="mf-window-toolbar" th:fragment="actionButtons" id="actionButtons">
                <li class="mf-window-toolbar--tool">
                    <a href="#!" onclick="descargarDocumento()" th:title="#{generarDocumento.descargarEni.title}">
                        <span class="mf-icon mf-icon-doc-xml"></span>
                        <span th:text="#{generarDocumento.descargarEni}"></span>
                    </a>
                </li>
                <li class="mf-window-toolbar--tool" id="button_descargar_contenido_documento">
                    <a href="#!" onclick="descargarContenido()" th:title="#{generarDocumento.descargarArchivo.title}">
                        <span class="mf-icon mf-icon-doc-download"></span>
                        <span th:text="#{generarDocumento.descargarArchivo}"></span>
                    </a>
                </li>
                <li class="mf-window-toolbar--tool">
                    <a href="#!" onclick="verContenido()" th:title="#{generarDocumento.verContenido.title}">
                        <span class="mf-icon  mf-icon-doc-pdf-download"></span>
                        <span th:text="#{generarDocumento.verContenido}"></span>
                    </a>
                </li>
				<li class="mf-window-toolbar--tool" id="button_importar_almacenado_documento" sec:authorize="hasRole('USER_ROLE')">
                    <a href="#!" th:onclick="'mostrarDialogImportarDocumento(&quot;' + #{generarExpediente.guardar.obligatorioExpediente} + '&quot;, false)'">
                        <span class="mf-icon mf-icon-doc-attach"></span>
                        <span th:text="#{generarDocumento.adjuntarDocumento}"></span>
                    </a>
                </li>
            </ul>
            <ul class="mf-window-toolbar" id="actionButtonBack">
				<li class="mf-window-toolbar--tool">
					<a href="#!" onclick="backStored()" th:title="#{generarDocumento.descargarEni.title}"> 
						<span class="mf-icon mf-icon-arrow3-back"></span> 
						<span th:text="#{generarDocumento.atras}"></span>
					</a>
				</li>
			</ul>
		</header>

        <div id="contentData">
         	<form id="backStoredDocForm" th:fragment="backStoredDocForm" th:action="@{/documentosAlmacenados}" method="get"></form>
	       	<form id="descargarContenidoDocForm" th:fragment="descargarContenidoDocForm" th:action="@{/descargarContenidoDocumento}" method="post">
	         	<input type="hidden" name="identificador" id="identificador" th:value="${documentoEni.metadatosEni.identificador}"/>
	       	</form>
            <form id="descargarEniForm" th:fragment="descargarEniForm" th:action="@{/descargarDocumentoEni}" method="post">
                <input type="hidden" name="identificador" id="identificador" th:value="${documentoEni.metadatosEni.identificador}"/>
            </form>
            <form id="verContenidoForm" th:action="@{/descargarVisualizar}" method="post">
                <input type="hidden" name="identificador" id="identificador" th:value="${documentoEni.metadatosEni.identificador}"/>
            </form>
            <form id="redireccionarDocumentosAlmacenadosForm" th:action="@{/documentosAlmacenados}">
                <input type="hidden" name="textoMensajeUsuario" id="textoMensajeUsuario"/>
                <input type="hidden" name="nivelMensajeUsuario" id="nivelMensajeUsuario"/>
            </form>
            <form id="generarDocumento" th:action="@{/generarDocumento}"
                method="post" class="" th:object="${documentoEni}">
                <input type="hidden" name="viewName" id="viewName" value="documento/generarDocumento"/>
                <input type="hidden" name="metadatosAdicionalesDoc" id="metadatosAdicionalesDoc" th:object="${metadatosAdicionales}"/>
                <input type="hidden" name="documentId" id="documentId" th:value="${documentId}"/>
                <input type="hidden" name="showMessage" id="showMessage" th:value="${showMessage}"/>
                <input type="hidden" name="conAdicionales" id="conAdicionales" th:value="${conAdicionales}"/>
                <div th:fragment="metadatosEniDoc">

                    <fieldset class="mf-form__stack">
                        <legend>
                            <span th:text="#{generarDocumento.metadatos.tittle}"></span>
                        </legend>
                         <div class="boxes">
                         	<div class="">
	                            <div class="fld">
	                                <label for="identificador" class="required"
	                                    th:text="#{generarDocumento.metadato.identificador}"></label> 
	                                <input type="hidden" id="identificador" name="identificador" th:field="*{metadatosEni.identificador}" />
	                                <input
	                                    type="text" disabled="disabled" style="width:480px"
	                                    maxlength="50" th:field="*{metadatosEni.identificador}" />
	                                <a class="mf-icon mf-icon-help" href="#!" th:title="#{generarDocumento.metadato.identificador.help} + '&#13;' + #{generarDocumento.metadato.identificador.help2}" ></a> 
	                            </div>
	                     	</div>                           
                         </div>
                         <div class="boxes">
                         	<div class="">
	                            <div class="fld" sec:authorize="!hasRole('CONSULTA_ROLE')">
	                                <label for="origen" th:text="#{generarDocumento.metadato.origen}"></label>
	                                <select id="origen" name="origen"
	                                    th:field="*{metadatosEni.origenCiudadanoAdministracion}">
	                                    <option th:each="origen,iterationStatus  : ${origen}"
	                                        th:text="${origen.key}" th:value="${origen.value}" />
	                                </select>
	                            </div> 
	                            <div class="fld" sec:authorize="hasRole('CONSULTA_ROLE')">
	                                <label for="origen" th:text="#{generarDocumento.metadato.origen}"></label>
	                                <select id="origen" name="origen" disabled="disabled"
	                                    th:field="*{metadatosEni.origenCiudadanoAdministracion}">
	                                    <option th:each="origen,iterationStatus  : ${origen}"
	                                        th:text="${origen.key}" th:value="${origen.value}" />
	                                </select>
	                            </div> 	                                                     
	
	                            <div class="fld" sec:authorize="!hasRole('CONSULTA_ROLE')">
	                                <label for="estadoElaboracion"
	                                    th:text="#{generarDocumento.metadato.estadoElaboracion}"></label>
	                                <select id="estadoElaboracion" name="estadoElaboracion"
	                                    th:field="*{metadatosEni.estadoElaboracion.valorEstadoElaboracion}" onchange="checkEstado()">
	                                    <option
	                                        th:each="estado,iterationStatus  : ${estadosElaboracion}"
	                                        th:text="${estado.key}" th:value="${estado.value}" />
	                                </select>
	                            </div>
	                            <div class="fld" sec:authorize="hasRole('CONSULTA_ROLE')">
	                                <label for="estadoElaboracion"
	                                    th:text="#{generarDocumento.metadato.estadoElaboracion}"></label>
	                                <select id="estadoElaboracion" name="estadoElaboracion" disabled="disabled"
	                                    th:field="*{metadatosEni.estadoElaboracion.valorEstadoElaboracion}" onchange="checkEstado()">
	                                    <option
	                                        th:each="estado,iterationStatus  : ${estadosElaboracion}"
	                                        th:text="${estado.key}" th:value="${estado.value}" />
	                                </select>
	                            </div>	                            
	                            
	                            <div class="fld">
	                                <label for="identificadorDocOrigen"
	                                    th:text="#{generarDocumento.metadato.identificadorDocOrigen}"></label>
	                                <span class="input-auxbtn"> <input type="text"
	                                    class="sticked-input-right" id="identificadorDocOrigen"
	                                    name="identificadorDocOrigen" maxlength="50"
	                                    th:field="*{metadatosEni.estadoElaboracion.identificadorDocumentoOrigen}" />
	                                </span>
	                            </div>                            
                        	</div>
                        	<div class="">
	                            <div class="fld" sec:authorize="!hasRole('CONSULTA_ROLE')">
	                                <label for="fechaCaptura"
	                                    th:text="#{generarDocumento.metadato.fechaCaptura}"></label> <input
	                                    type="date" id="fechaCaptura" name="fechaCaptura"
	                                    class="mf-datepicker  mf-icon mf-icon-calendar " title="dd/mm/aaaa"
	                                    size="14" th:value="${#calendars.format(fechaCaptura, 'yyyy-MM-dd')}" />
	                            </div>
	                            <div class="fld" sec:authorize="hasRole('CONSULTA_ROLE')">
	                                <label for="fechaCaptura"
	                                    th:text="#{generarDocumento.metadato.fechaCaptura}"></label> <input
	                                    type="date" id="fechaCaptura" name="fechaCaptura" disabled="disabled"
	                                    class="mf-datepicker  mf-icon mf-icon-calendar " title="dd/mm/aaaa"
	                                    size="14" th:value="${#calendars.format(fechaCaptura, 'yyyy-MM-dd')}" />
	                            </div>	                            
	                            
	                            <div class="fld" sec:authorize="!hasRole('CONSULTA_ROLE')">
	                                <label for="tipoDocumental"
	                                    th:text="#{generarDocumento.metadato.tipoDocumental}"></label> <select
	                                    id="tipoDocumental" name="tipoDocumental"
	                                    th:field="*{metadatosEni.tipoDocumental}">
	                                    <option
	                                        th:each="tipoDocumental,iterationStatus  : ${tiposDocumentales}"
	                                        th:text="${tipoDocumental.key}"
	                                        th:value="${tipoDocumental.value}" />
	                                </select>
	                            </div>
	                            <div class="fld" sec:authorize="hasRole('CONSULTA_ROLE')">
	                                <label for="tipoDocumental" 
	                                    th:text="#{generarDocumento.metadato.tipoDocumental}"></label> <select
	                                    id="tipoDocumental" name="tipoDocumental"
	                                    th:field="*{metadatosEni.tipoDocumental}">
	                                    <option disabled="disabled" 
	                                        th:each="tipoDocumental,iterationStatus  : ${tiposDocumentales}"
	                                        th:text="${tipoDocumental.key}"
	                                        th:value="${tipoDocumental.value}" />
	                                </select>
	                            </div>	                            
                        	</div>
                       
                        	<div class="">
	                            <div class="fld" sec:authorize="!hasRole('CONSULTA_ROLE')">
	                                <label for="organos" class="required" th:text="#{generarDocumento.metadato.organos}"></label> 
	                                <div class="input-auxbtn">
	                                    <div>
	                                        <input type="text" class="sticked-input-right" id="organos" name="organos" maxlength="50" />
	                                        <button type="button" name="button" th:value="#{button.anadir}" th:utext="#{generarDocumento.metadato.organos.directorio.button}" onclick="addOrganoDoc()"></button>
	                                    </div>                                
	                                    <div id="listOrganos">
	                                    	<div th:each="key, iterationStatus : *{metadatosEni.organo}" th:id="${'divOrgano_'+__${iterationStatus.index}__}">
		                                        <input type="text" class="sticked-input-right" disabled="disabled"
		                                            th:field="*{metadatosEni.organo[__${iterationStatus.index}__]}"/>
		                                        <button th:id="${'removeOrganoButton_' + __${iterationStatus.index}__}" class="mf-icon mf-icon-cancel2" type="button" name="button" th:value="#{button.eliminar}" th:onclick="'removeOrganoDoc(' + ${iterationStatus.index} + ')'"></button>	                                       
	                                    	</div>
	                                    </div> 
	                                </div>
	                            </div>
	                            <div class="fld" sec:authorize="hasRole('CONSULTA_ROLE')">
	                                <label for="organos" class="required" th:text="#{generarDocumento.metadato.organos}"></label> 
	                                <div class="input-auxbtn">
	                                    <div>
	                                        <input type="text" disabled="disabled" class="sticked-input-right" id="organos" name="organos" maxlength="50" />
	                                        <button type="button" disabled="disabled" name="button" th:value="#{button.anadir}" th:utext="#{generarDocumento.metadato.organos.directorio.button}" onclick="addOrganoDoc()"></button>
	                                    </div>                                
	                                    <div id="listOrganos">
	                                    	<div th:each="key, iterationStatus : *{metadatosEni.organo}" th:id="${'divOrgano_'+__${iterationStatus.index}__}">
		                                        <input type="text" class="sticked-input-right" disabled="disabled"
		                                            th:field="*{metadatosEni.organo[__${iterationStatus.index}__]}"/>
		                                        <button disabled="disabled" th:id="${'removeOrganoButton_' + __${iterationStatus.index}__}" class="mf-icon mf-icon-cancel2" type="button" name="button" th:value="#{button.eliminar}" th:onclick="'removeOrganoDoc(' + ${iterationStatus.index} + ')'"></button>	                                       
	                                    	</div>
	                                    </div> 
	                                </div>
	                            </div>	                            
                          	</div>
                          
	                        <div class="">
	                           <div class="fld">
	                                <label class="required"
	                                    th:text="#{generarDocumento.metadato.firma}"></label>
	                                <input type="hidden" name="firma" id="firma" th:value="${firma}"/>
	                                <ul class="radio-list">
	                                    <li>
	                                        <input disabled="disabled" type="radio" value="0" th:checked="${firma == '0'}"/>&nbsp; 
	                                        <label for="firma" th:text="#{generarDocumento.metadato.firma.sinFirmar}"/>
	                                    </li>
	                                    <li>
	                                        <input disabled="disabled" type="radio" value="1" th:checked="${firma == '1'}"/>&nbsp;
	                                        <label for="firma" th:text="#{generarDocumento.metadato.firma.firmadoPrevio}"/>
	                                    </li>
	                                </ul>
	                            </div>


	                            <div class="fld" id="certificadoFirma">
	                                <label class="required" th:text="#{generarDocumento.metadato.certificado}"></label>
	                                <select id="formatoFirma" name="formatoFirma" th:value="${formatoFirma}">
	                                    <option th:each="tipoCertificado,iterationStatus  : ${tiposCertificado}"
	                                        th:text="${tipoCertificado.key}" th:value="${tipoCertificado.value}"  th:selected="${tipoCertificado.value == formatoFirma}"/>
	                                </select>
                                <span class="fld-help" th:text="#{generarDocumento.formatos.admitidos.PORDEFECTO}"></span>
                                <span class="fld-help" th:text="#{generarDocumento.formatos.admitidos.firmaPDF}"></span>
                                <span class="fld-help" th:text="#{generarDocumento.formatos.admitidos.firmaXML}"></span>
                                <span class="fld-help" th:text="#{generarDocumento.formatos.admitidos.firmaOTRAS}"></span>	                                
	                            </div>
                        	</div>
                        </div>     
                        
                    <div    id="init-modal-importar-documento" 
                               data-title="Adjuntar Documento a Expediente" 
                               data-modal="1" 
                               data-width="450"
                               data-draggable="0"
                               data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
                               data-position_h="center"
                               data-position_v="center" 
                               class="buttonbar--btn simbutton hidden">
                           <div>
                               <p class="fld">
                                   <label for="doc_fecha_incorp_expe_modal" class="required mf-field-doc" th:title="#{generarDocumento.importar.expediente}"
                                       th:text="#{generarDocumento.importar.expediente}"></label> 
                                   <input
                                       type="text" 
                                       id="doc_identificador_expediente" 
                                       name="doc_identificador_expediente"
                                       maxlength="50" 
                                       class="sticked-input-right" />                
                               </p>                                        
                           </div>
                           <div class="fld"> 
				                <label class="required"
				                    th:text="#{generarDocumento.metadato.firma.info}"></label>
				                <ul class="radio-list">
				                    <li>
				                        <input type="radio" name="firmaExp" value="client" id="firmaExp"/>&nbsp;
				                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaCliente}"/>
				                    </li>
				                    <li th:if="${showFirmaServer}">
				                        <input type="radio" name="firmaExp" value="server" id="firmaExp"/>&nbsp; 
				                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaServidor}"/>
				                    </li>
				                </ul>
 				            </div>                               
                           <ul class="error-list"></ul>
                           <div class="js-timer-veil mf-veil hidden">
                           </div>
                       </div>    
                    </fieldset>
					<fieldset id="js-div-metadatosDoc"
						class="mf-form__stack mf-form__inline">
						<legend th:text="#{generarDocumento.metadato.adicional}"></legend>
						<div class="fld">
							<div class="metadata-box" sec:authorize="!hasRole('CONSULTA_ROLE')">
								<div class="fld">
									<label for="metadatoAdicionalNombreNatural"
										th:text="#{generarDocumento.metadato.adicional.nombre.natural}"></label>
									<input type="text" id="keyMetadatoAdicionalNatural"
										th:value="#{generarDocumento.metadato.adicional.nombre.natural.value}"
										name="keyMetadatoAdicionalNatural" maxlength="100" style="width:250px"/>
								</div>
								<div class="fld">
									<label for="metadatoAdicionalValorNatural"
										th:text="#{generarDocumento.metadato.adicional.valor.natual}"></label>
									<input type="text" id="valueMetadatoAdicionalNatural"
										th:value="${valueMetadatoAdicionalNatural}"
										name="valueMetadatoAdicionalNatural" maxlength="100" style="width:200px"/>
								</div>
							</div>
							<div class="metadata-box" sec:authorize="hasRole('CONSULTA_ROLE')">
								<div class="fld">
									<label for="metadatoAdicionalNombreNatural"
										th:text="#{generarDocumento.metadato.adicional.nombre.natural}"></label>
									<input type="text" id="keyMetadatoAdicionalNatural" disabled="disabled"
										th:value="#{generarDocumento.metadato.adicional.nombre.natural.value}"
										name="keyMetadatoAdicionalNatural" maxlength="100" style="width:250px"/>
								</div>
								<div class="fld">
									<label for="metadatoAdicionalValorNatural"
										th:text="#{generarDocumento.metadato.adicional.valor.natual}"></label>
									<input type="text" id="valueMetadatoAdicionalNatural" disabled="disabled"
										th:value="${valueMetadatoAdicionalNatural}"
										name="valueMetadatoAdicionalNatural" maxlength="100" style="width:200px"/>
								</div>
							</div>
							<div class="metadata-box" sec:authorize="!hasRole('CONSULTA_ROLE')">
								<div class="fld">
									<label for="metadatoAdicionalNombre"
										th:text="#{generarDocumento.metadato.adicional.nombre}"></label>
									<input type="text" class="sticked-input-right"
										id="keyMetadatoAdicional" name="keyMetadatoAdicional" style="width:250px"
										maxlength="100" />
								</div>
								<div class="fld">
									<label for="metadatoAdicionalValor"
										th:text="#{generarDocumento.metadato.adicional.valor}"></label>
									<input type="text" class="sticked-input-right"
										id="valueMetadatoAdicional" name="valueMetadatoAdicional" style="width:200px"
										maxlength="100" />
								</div>
								<button type="button" name="button" th:title="#{button.anadir}"
									onclick="addMetadatoDoc()">
									<span class="mf-icon mf-icon-circle-plus"></span> <span
										th:text="#{button.anadir}"></span>
								</button>
							</div>
							<div class="metadata-box" sec:authorize="hasRole('CONSULTA_ROLE')">
								<div class="fld">
									<label for="metadatoAdicionalNombre"
										th:text="#{generarDocumento.metadato.adicional.nombre}"></label>
									<input type="text" class="sticked-input-right" disabled="disabled"
										id="keyMetadatoAdicional" name="keyMetadatoAdicional" style="width:250px"
										maxlength="100" />
								</div>
								<div class="fld">
									<label for="metadatoAdicionalValor"
										th:text="#{generarDocumento.metadato.adicional.valor}"></label>
									<input type="text" class="sticked-input-right" disabled="disabled"
										id="valueMetadatoAdicional" name="valueMetadatoAdicional" style="width:200px"
										maxlength="100" />
								</div>
								<button type="button" name="button" th:title="#{button.anadir}"
									onclick="addMetadatoDoc()" disabled="disabled"> 
									<span class="mf-icon mf-icon-circle-plus"></span> <span
										th:text="#{button.anadir}"></span>
								</button>
							</div>							

							<div id="listMetadatosAdicionalesDoc">
								<div
									th:each="metadatoAdicional, iterationStatus : ${metadatoAdicionales}"
									th:id="${'divMetadatoAdicionalDoc_' + iterationStatus.index}">
									<div class="fld">
										<input type="text" class="sticked-input-right" style="width:250px"
											disabled="disabled" th:value="${metadatoAdicional.nombre}"
											th:id="${'metadatosAdicionalesDoc.metadatoAdicional' + __iterationStatus.index__ + '.nombre'}"
											th:title="${metadatoAdicional.nombre}" />
									</div>
									<div class="fld">
										<input type="text" class="sticked-input-right" style="width:200px"
											disabled="disabled" th:value="${metadatoAdicional.valor}"
											th:id="${'metadatosAdicionalesDoc.metadatoAdicional' + __iterationStatus.index__ + '.valor'}"
											th:title="${metadatoAdicional.valor}" />
									</div>
									<div class="fld">
										<button class="mf-icon mf-icon-cancel2" type="button"
											name="button" th:value="#{button.eliminar}"
											th:id="${'removeMetadatoButton_' + __iterationStatus.index__}"
											th:onclick="'removeMetadatoDoc(' + ${iterationStatus.index} + ')'"></button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset >
	                    <div class="mf-form__stack mf-form__inline">
	                        <legend th:text="#{generarDocumento.metadato.csv}"></legend>
	                        <p class="fld">
	                            <label for="csv"
	                                th:text="#{generarDocumento.metadato.csv.csv}"></label> <input
	                                type="text" id="csv" name="csv" maxlength="60"
	                                th:field="*{csv.valorCSV}" disabled="disabled"/>
	                        </p>
	                        <p class="fld">
	                            <label for="regulacionCSV"
	                                th:text="#{generarDocumento.metadato.csv.regulacion}"></label> <input
	                                type="text" id="regulacionCSV" name="regulacionCSV"
	                                maxlength="35" th:field="*{csv.regulacionCSV}" disabled="disabled"/>
	                        </p>
	                    </div> 
                    </fieldset>
                   	<fieldset>
                        <legend th:text="#{generarDocumento.contenido.documento}"></legend>
                        <div class="fld" th:if="${dataDocBase64 != null and !navegador}">
                             <iframe class="js-gallery-ver--visor" style="width:100%; height:1024px;" th:src="${'data:application/pdf;base64,' + dataDocBase64}"></iframe>
                        </div>
	                    <a href="#!" onclick="descargarContenido()" th:if="${dataDocBase64 != null and navegador}" th:title="#{generarDocumento.descargarArchivo.title}">
	                        <span class="mf-icon mf-icon-doc-download"></span>
	                        <span th:text="#{generarDocumento.descargarArchivo}"></span>
	                    </a>
                        <div class="js-timer-veil mf-veil hidden"></div>
	                </fieldset>
                    
                    
                    <fieldset class="mf-report--fieldset" th:if="${firmas != null}">
	                    <legend >
	                        <span th:text="#{generarDocumento.metadato.firma}"></span>
	                    </legend>
	                    <table class="mf-table-data mf-table-data__sortable mf-table-data__zebra">
	                    	<thead>
	                    	    <tr>
	                                <th><label th:text="#{visualizarDocumento.label.tipoFirma}"></label></th>
	                                <th><label th:text="#{visualizarDocumento.label.firmante}"></label></th>
	                                <th><label th:text="#{visualizarDocumento.label.fechaFirma}"></label></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="firma : ${firmas}">
	                                <td><label th:text="${firma.nombre}"></label></td>
	                                <td><label th:text="${firma.propiedades[0].value}"></label></td>
	                                <td><label th:text="${firma.propiedades[1].value}"></label></td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </fieldset>
	                

                </div>

                <fieldset class="fsubmit" sec:authorize="!hasRole('CONSULTA_ROLE')">          
                    <button class="generador primary" type="button" name="button" th:value="#{generarDocumento.button.generar}" onclick="updateDocument()" > 
                        <span class="mf-icon mf-icon-circle-wheel"></span>
                        <span th:utext="#{generarDocumento.actualizarDocumento}"></span>
                    </button>
                </fieldset>
				
                <script th:inline="javascript">
                    /*<![CDATA[*/
                        var metadatosDocAdded = [[${#arrays.length(metadatoAdicionales)}]];
                        var organosAdded = [[${#arrays.length(documentoEni.metadatosEni.organo)}]];
                        if (metadatosDocAdded > 0) {
                        	$("#js-check-metadatosDoc").prop('checked', true);
                        	$("#js-div-metadatosDoc").removeClass("hidden");
                        }
                        $("#actionButtons").show();
                    /*]]>*/
                </script>
                
                <div id="documentVeil" class="mf-veil hidden">
            	</div>
                
            </form>
        </div>
    </div>
    
	<!--  Modals  -->
	<div class="mf-dialog-camp">
    	<div class="mf-dialog">
        	<div class="mf-dialog--titlebar">
           		<span class="mf-dialog--title">titulo</span>
           		<button class="mf-dialog--closebtn" title="Cerrar">Cerrar</button>
        	</div>
       	<div class="mf-dialog--content">contenido</div>
       	<div class="mf-dialog--buttonbar">barra inferior</div>
    </div>
</div>

</body>
</html>
