<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="common/inside_layout">

<head>
	<script th:src="|${#httpServletRequest.getContextPath()}/js/importarDocumento.js?v=${session.versionNumber}|"></script>
	
	 <!-- Mini applet afirma -->
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/constantes.js?v=${session.versionNumber}|"></script>
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/miniapplet.js?v=${session.versionNumber}|"></script>
	
	<script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/moxie.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/plupload.dev.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/i18n/es.js?v=${session.versionNumber}|"></script>
</head>


<body>

    <div layout:fragment="content">

        <div class="mf-window-header">
            <div class="mf-window-header--hgroup">
                <nav class="mf-breadcrumb" role="navigation">
	                <ol class="mf-breadcrumb--menu">
	                    <li class="mf-breadcrumb--item"><a href="principal" th:text="#{layout.menu.option.inicio}"></a></li>
	                </ol>
	            </nav>
                <h3 class="mf-window-header--title" th:utext="#{importarDocumento.title}"></h3>
            </div>
            <ul class="mf-window-toolbar"  th:fragment="actionButtons" id="actionButtons">
	           <li class="mf-window-toolbar--tool">
	                <a style="cursor:pointer" onclick="showAyudaDialog()">
	                    <span class="mf-icon mf-icon-globe-help"></span>
	                    <span th:text="#{generarExpediente.ayuda}"></span>
	                </a>
	            </li>
            </ul>            
        </div>

        <div id="contentData">
            <form id="importarDocumentoForm" th:action="@{/importNewDocumentXml}" method="post">
            	<input type="hidden" name="documentId" id="documentId"/>
                <fieldset>
                    <legend>
                        <span th:text="#{validarDocumento.xmldocumentoeni}"></span>
                    </legend>

					<div class="fld">
                        <label for="identificador" th:text="#{importarDocumento.identificadorExpediente}"></label> 
                        <input type="text" id="identificadorExpediente" name="identificadorExpediente" maxlength="50" onblur="mostrarUocultarFirmaExpediente()"/>
                    </div>
                    
	                <div class="fld hidden" id="firmaExpediente">
		                <label class="required"
		                    th:text="#{generarDocumento.metadato.firma.info}"></label>
		                <ul class="radio-list">
		                    <li>
		                        <input type="radio" name="firmaExp" value="client" id="firmaExp"/>&nbsp;
		                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaCliente}"/>
		                    </li>
		                    <li th:if="${showFirmaServer}">
		                        <input type="radio" name="firmaExp" value="server" id="firmaExp"/>&nbsp; 
		                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaServidor}"/>
		                    </li>
		                </ul>
		            </div>
		                                
                    <div class="fld">
                        <label for="documento" class="required" th:text="#{importarDocumento.adjuntar}"></label> 
                        <div class="input-auxbtn">
                            <button id="documento_button">Examinar...</button>
                            <span id="documento_text">No se ha seleccionado ningún archivo.</span>
                            <span class="fld-help" th:text="#{generarDocumento.formatos.admitidos.eni}"></span>
                            <progress id="progressDocumento" class="hidden" max="100"></progress>
                        </div>
                    </div>

                </fieldset> 

                <fieldset class="fsubmit">
                    <button class="validador primary" type="button" name="button" id="button_importar" th:value="#{importarDocumento.button.importar}" onclick="importarDocumento()"> 
                        <span class="mf-icon mf-icon-circle-check"></span>
                        <span th:text="#{importarDocumento.button.importar}"></span> 
                    </button>
                </fieldset>     
                
                <div id="importarVeil" class="mf-veil hidden">
            	</div>           
            </form>
        </div>
        <div class="mf-veil" style="display:none"></div>
    </div>

</body>
</html>