<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2012-13 MINHAP, Gobierno de España
   This program is licensed and may be used, modified and redistributed under the terms
   of the European Public License (EUPL), either version 1.1 or (at your
   option) any later version as soon as they are approved by the European Commission.
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
   or implied. See the License for the specific language governing permissions and
   more details.
   You should have received a copy of the EUPL1.1 license
   along with this program; if not, you may find it at
   http://joinup.ec.europa.eu/software/page/eupl/licence-eupl -->


<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<description>InSide WS</description>




	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	
	<!-- *** Opcional, si no se quiere arrancar la aplicación con ninguna JAVA_OPT *** -->
	<!-- context-param>
    	<param-name>config.path</param-name>
    	<param-value>ruta_absoluta_carpeta_ficheros_configuracion</param-value>
	</context-param-->
	
	<listener>
		<listener-class>es.mpt.dsic.inside.ws.configuration.ConfigLoaderListener</listener-class>		
	</listener>
	
	<context-param>
    	<param-name>log4jConfigLocation</param-name>
    	<param-value>file:${config.path}/log4j.properties</param-value>    	
  	</context-param>

  	<listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  	</listener>
	
	  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:es/mpt/dsic/inside/context/inside-ws-context.xml,
			/WEB-INF/mvc-dispatcher-servlet.xml,
			classpath:es/mpt/dsic/inside/context/inside-security-context.xml,
			classpath:es/mpt/dsic/inside/context/inside-context.xml
		</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	
	<!-- Spring MVC -->
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  	
  	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Spring encoding obligando a utf-8 -->
	<filter>  
	    <filter-name>encodingFilter</filter-name>  
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
	    <init-param>  
	       <param-name>encoding</param-name>  
	       <param-value>UTF-8</param-value>  
	    </init-param>  
	    <init-param>  
	       <param-name>forceEncoding</param-name>  
	       <param-value>true</param-value>  
	    </init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>encodingFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping> 

	
	<!-- Firma Trifasica -->
	<servlet>
		<description>Servicio de firma electronica en 3 fases v2.1</description>
		<servlet-name>SignatureService</servlet-name>
		<servlet-class>es.gob.afirma.triphase.server.SignatureService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignatureService</servlet-name>
		<url-pattern>/SignatureService</url-pattern>
	</servlet-mapping>
	
   	<!-- <session-config>
		<session-timeout>30</session-timeout>
	</session-config> -->
	
</web-app>