<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->


<head>
	<div th:replace="common/inside_layout :: head"></div>	

	<script th:src="|${#httpServletRequest.getContextPath()}/js/usuarioManage.js?v=${session.versionNumber}|"></script>

</head>

<body>
	<!-- CONTAINER -->
	<div id="container" class="mf-container">

		<!-- BROWSERS / JS -->
		<div th:replace="common/header :: nocompl"></div>

		<!-- HEADER -->
		<div th:replace="common/header :: header"></div>

		<!-- WRAPPER -->
		<div id="wrap" class="mf-wrapper">
		
			<!-- CAJAS DE ADVERTENCIA-->
			<div th:replace="common/message :: message"></div>
			<div th:include="common/message :: js"></div>
			
			<div th:if="${param.error}" th:remove="tag">    
                   <script>
                   $("#tipoMensaje").val(4);
                   $("#valorMensaje").val("Acceso no permitido");
                   </script>
            </div>

			<!-- AQUI EL CONTENIDO-->
			<div id="login" class="mf-login">
				<div class="mf-login--content">
				
					<div class="mf-login--column">
  						<h3 class="mf-login--title" th:text="#{login.altaUsuarioWebInside}"></h3>
			 			<form id="altaUsuarioWebInsideForm" th:action="@{/altaUsuarioWebInsidePost}" th:object="${usuarioAlta}" method="post">
							
								<div class="fld">
									<label class="required" for="NIF" th:text="#{altaUsuarioWebInside.nif}"></label> 
									<input type="text" id="nif" name="nif" th:field="*{nif}"  maxlength="9" class="large"/>
								</div>
								<div class="fld">
									<label for="DIR3" th:text="#{altaUsuarioWebInside.dir3}"></label>
									<input type="text" id="unidadOrganicaActiva" name="unidadOrganicaActiva" th:field="*{unidadOrganicaActiva}"  th:value="${usuarioAlta.unidadOrganicaActiva}" maxlength="9" class="large" readonly="readonly"/>
								</div>
								
								<div class="fld">
									<label for="descripcion" th:text="#{altaUsuarioWebInside.descripcion}"></label>
									<input type="text" id="nombreUnidadOrganicaActiva" name="nombreUnidadOrganicaActiva" th:field="*{nombreUnidadOrganicaActiva}"  th:value="${usuarioAlta.nombreUnidadOrganicaActiva}" maxlength="100" class="large" readonly="readonly"/>
								</div> 	
		                        								
		                        <div class="fld">
		                            <label class="required" for="rol" th:text="#{altaUsuarioWebInside.rol}"></label> 
		                            <select id="rol" name="rol" th:field="*{rol.id}">
		                                <option th:each="rol,iterationStatus : ${rolesDisponibles}" th:text="${rol.value}" th:value="${rol.key}"></option>
		                            </select>
		                        </div>								
								
								<div class="block">
									<div class="fld">
										
										
										<button class="primary" id="button_crearUsuario" type="button" name="button" th:value="#{button.crear}" onclick="comprobarExisteNifInside()" > 
					                        <span class="mf-icon mf-icon-circle-wheel"></span>
					                        <span th:utext="#{button.crear}"></span>
					                    </button> 
										
									</div>
							  </div>
		
						</form>
					</div>
					
				</div>
				
				

                     
               <div id="init-modal-alta-usuario" 
		            data-title="Alta usuario" 
		            data-modal="1" 
		            data-draggable="0"
		            data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
		            data-position_h="center"
		            data-position_v="center" 
		            class="buttonbar--btn simbutton hidden">
			        <div>
		                <p class="fld">
		                    <label id="labelBorrar" for="doc_fecha_incorp_expe_modal" class="mf-field-doc" th:text="#{altaUsuario.existe.mensaje}"></label>                
		                </p>                                        
		            </div>                                      

	    	   </div>                  
                     
                  
                       
                       
                       
			</div>

		</div>
	</div>
	<div th:replace="common/footer :: footer"></div>
	<div th:replace="common/footer :: js"></div>
</body>

</html>