<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/inside_layout">
<head>

	<script th:src="|${#httpServletRequest.getContextPath()}/js/usuarioManage.js?v=${session.versionNumber}|"></script>

</head>

<body>

	<div layout:fragment="content">

		<div id="contentData">

        	<form id="borrarUsuarioForm" th:action="@{/borrarUsuario}" method="post">
	                <input type="hidden" name="nif" id="nif"/>
	                <input type="hidden" name="numeroProcedimiento" id="numeroProcedimiento"/>
	        </form>
	        
        	<form id="editUsuarioForm" th:action="@{/modificarUsuarioWebInside}" method="post">
	                <input type="hidden" name="nif" id="nif"/>
	                <input type="hidden" name="numeroProcedimiento" id="numeroProcedimiento"/>
	                <input type="hidden" name="rol" id="rol"/>
	        </form>
	        	        
	        
            <table id="userList" class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
            	<thead>
                    <tr>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaIdentificador.title}" th:text="#{listaUsuarios.tablaIdentificador.title}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaActivo.dir3}" th:text="#{listaUsuarios.tablaActivo.dir3}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaActivo.dir3Descripcion}" th:text="#{listaUsuarios.tablaActivo.dir3Descripcion}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaIdentificador.procedimiento}" th:text="#{listaUsuarios.tablaIdentificador.procedimiento}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaActivo.title}" th:text="#{listaUsuarios.tablaRol.title}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaUsuarios.tablaAcciones.title}" th:text="#{listaUsuarios.tablaAcciones.title}"></th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="usuario,iterationStatus : *{data}" th:id="'usuario_'+${iterationStatus.count - 1}">
						<td class="grid-column-creador" th:text="${usuario.nif}"></td>
						<td class="grid-column-creador" th:text="${usuario.unidadOrganicaActiva}"></td>
						<td class="grid-column-creador" th:text="${usuario.nombreUnidadOrganicaActiva}"></td>
						<td class="grid-column-creador" th:text="${usuario.objNumeroProcedimiento.numeroProcedimiento}"></td>
						<td class="grid-column-articulo_tipo.codigo" th:text="${usuario.rol.descripcionLargaTraducida}"></td>
						<td class="grid-column-actions last-column">
							<div th:if="${usuario.objNumeroProcedimiento.numeroProcedimiento} != null">
                               	<a id="btn_editar_documento" title="Modificar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__editar" 
									th:onclick="|javascript:showDialogEdit('${usuario.nif}', '${usuario.objNumeroProcedimiento.numeroProcedimiento}', ${usuario.rol.id})|"
									th:attr="data-modal-title=#{listaUsuarios.modificar}" >
									<span class="mf-icon mf-icon-doc-config"></span>
								</a>
                                   <a id="btn_delete_documento" title="Borrar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__borrar" 
									th:onclick="|javascript:showDialogDelete('${usuario.nif}', '${usuario.objNumeroProcedimiento.numeroProcedimiento}')|"
									th:attr="data-modal-title=#{listaUsuarios.eliminar}" >
									<span class="mf-icon mf-icon-trash"></span>
								</a>
							</div>
							<div th:if="${usuario.objNumeroProcedimiento.numeroProcedimiento} == null">
                               	<a id="btn_editar_documento" title="Modificar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__editar" 
									th:onclick="|javascript:showDialogEdit('${usuario.nif}', null, ${usuario.rol.id})|"
									th:attr="data-modal-title=#{listaUsuarios.modificar}" >
									<span class="mf-icon mf-icon-doc-config"></span>
								</a>
                                   <a id="btn_delete_documento" title="Borrar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__borrar" 
									th:onclick="|javascript:showDialogDelete('${usuario.nif}', null)|"
									th:attr="data-modal-title=#{listaUsuarios.eliminar}" >
									<span class="mf-icon mf-icon-trash"></span>
								</a>
							</div>							

                             
                        </td>    
                	</tr>
                </tbody>
            </table>
            
            
            
           <div  id="init-modal-borrar-usuario" 
		            data-title="Borrar usuario" 
		            data-modal="1" 
		            data-draggable="0"
		            data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
		            data-position_h="center"
		            data-position_v="center" 
		            class="buttonbar--btn simbutton hidden">
		        <div>
	                <p class="fld">
	                   <label id="labelBorrar" class="mf-field-doc" th:text="#{listaUsuarios.eliminar.mensaje}"></label>  
	                </p>                                        
	            </div>                                      
		        <div class="js-timer-veil mf-veil hidden">
		        </div>
		    </div>
		    
            
		</div>


	</div>


	<script>
		var tableUsuariosUnidadOrganica;
	</script>

</body>
</html>