<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->


<head>
	<div th:replace="common/inside_layout :: head"></div>

	<!-- Mini applet afirma -->
	<script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/constantes.js|"></script>
	<script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/miniapplet.js|"></script>
	
	<script th:src="|${#httpServletRequest.getContextPath()}/js/loginMiniapplet.js|"></script> 
</head>

<body>
	<!-- CONTAINER -->
	<div id="container" class="mf-container">

		<!-- BROWSERS / JS -->
		<div th:replace="common/header :: nocompl"></div>

		<!-- HEADER -->
		<div th:replace="common/header :: header"></div>

		<!-- WRAPPER -->
		<div id="wrap" class="mf-wrapper">
		
			<!-- CAJAS DE ADVERTENCIA-->
			<div th:replace="common/message :: message"></div>
			<div th:include="common/message :: js"></div>
			
			<div th:if="${param.error}" th:remove="tag">    
                   <script>
                   $("#tipoMensaje").val(4);
                   $("#valorMensaje").val("Acceso no permitido");
                   </script>
            </div>

			<!-- AQUI EL CONTENIDO-->
			<div id="login" class="mf-login">
				<div class="mf-login--content">
									
					<div class="mf-login--column">
						<h3 class="mf-login--title"
							th:text="#{login.certificate.clave.access.label}"></h3>
						
						<form id="loginFormClave" th:action="@{/loginRedirectClave}" method="post" class="mf-form__stack" >							
							<input id="clave_submit" class="primary" type="submit" th:value="#{login.label.entrar}"/>									
						</form>	
						
						<br/>
						<br/>
						
						<h3 class="mf-login--title"
							th:text="#{login.certificate.miniapplet.access.label}"></h3>
						<a href="#!" class=" primary"
							onclick="authenticate('fillCerticate')"
							th:text="#{login.label.entrar}"></a>
						<form th:action="@{/accesoCertificado}" method="post"
							id="loginCertificateForm">
							<input type="hidden" id="signature" name="signature" /> <input
								type="hidden" id="error" name="error" /> <input type="hidden"
								id="page" name="page" value="/accesoCertificado" />
						</form>
					</div>
					
					<div class="mf-login--column">
						<div class="logo-box"></div>
						<h3 class="mf-login--title" th:text="#{login.tittle}"></h3>
						<p th:utext="#{login.tittle.p4}"></p>
						<!-- <p th:utext="#{login.tittle.p1}"></p>
						<p th:text="#{login.tittle.p3}"></p> 
						<p th:utext="#{login.requisitos.problemas}"></p> -->

						<p class="mf-login--title" th:utext="#{login.requisitos.label}"></p>
						<ul>
							<li th:text="#{login.requisitos.conexion}"></li>
							<!--   <li th:text="#{login.requisitos.certificado}"></li> -->
							<li th:text="#{login.requisitos.java}"></li> 
							<li th:text="#{login.requisitos.navegador}"></li>
						</ul>		
						<!-- CARM ### v2.0.8.1 -->
						<div th:if="${#httpServletRequest.getParameter('showSysprops') != null}">
							<p class="mf-login--title" th:utext="Sysprops"></p>
							<ul>
								<li th:text="${'config.path: ' + @sysprops['config.path']}"></li>
								<li th:text="${'tmpShared.path: ' + @sysprops['tmpShared.path']}"></li>
								<li th:text="${'inside.hostDomainPort: ' + @sysprops['inside.hostDomainPort']}"></li>
								<li th:text="${'javax.net.ssl.trustStore: ' + @sysprops['javax.net.ssl.trustStore']}"></li>
								<li th:text="${'java.io.tmpdir: ' + @sysprops['java.io.tmpdir']}"></li>
								<li th:text="${'catalina.base: ' + @sysprops['catalina.base']}"></li>
								<li th:text="${'catalina.home: ' + @sysprops['catalina.home']}"></li>
							</ul>
						</div>
						<!-- CARM 2.0.8.1 ### -->
					</div>

				</div>
			</div>

		</div>
	</div>
	<div th:replace="common/footer :: footer"></div>
	<div th:replace="common/footer :: js"></div>
</body>

</html>