	<!DOCTYPE html>
	<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
	<!--[if IE 7 ]> <html class="ie ie7 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
	<!--[if IE 8 ]> <html class="ie ie8 no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!-->
	<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
	<!--<![endif]-->
	
	
	<head>
		<div th:replace="common/inside_layout :: head"></div>
	</head>
	
	<body  id="home" onload="document.redirectForm.submit();">
		<!-- CONTAINER -->
		<div id="container" class="mf-container">
	
			<!-- BROWSERS / JS -->
			<div th:replace="common/header :: nocompl"></div>
	
			<!-- HEADER -->
			<div th:replace="common/header :: header"></div>
	
			<!-- WRAPPER -->
			<div id="wrap" class="mf-wrapper">
	
	
	
				<!-- AQUI EL CONTENIDO-->
				<form name="redirectForm" method="post"
					th:action="*{claveServiceUrl}" style="width: 1000px">
					<input name="excludedIdPList" type="hidden"
						th:value="*{excludedIdPList}" /> <input name="forcedIdP"
						type="hidden" th:value="*{forcedIdP}" /> <input name="SAMLRequest"
						type="hidden" th:value="*{SAMLRequest}" />
				</form>
	
				<div class="mf-window-header"
					style="width: 600px; margin: 100px auto;">
					<div class="mf-window-header--hgroup" style="width: 100%;">
						<h3 style="text-align: center;">
							<span  style="text-align: center;color: white;">Redirigiendo...</span>
						</h3>
					</div>
				</div>
	
	
	
			</div>
		</div>
		<div th:replace="common/footer :: footer"></div>
		<div th:replace="common/footer :: js"></div>
	</body>
	
	</html>