<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="common/inside_layout">

<head>

</head>

<body class="inicio">
    <div layout:fragment="content">

        <div id="contentData">
            <div class="menu-inicio">
                <div class="expedientes">
                    <h4 th:text="#{generadorExpedientes.tittle}"></h4>
                    <ul>
                        <li sec:authorize="hasAnyRole('USER_ROLE','GUEST_ROLE')">
                            <a href="generarExpediente">
                                <span class="mf-icon mf-icon-new-folder"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorExpedientes.nuevo}"></h5>
                                    <p th:text="#{generadorExpedientes.nuevo.descripcion}"></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="validarExpediente">
                                <span class="mf-icon mf-icon-folder-check"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorExpedientes.validar}"></h5>
                                    <p th:text="#{generadorExpedientes.validar.descripcion}"></p>
                                </div>
                            </a>
                        </li>   
                        <li sec:authorize="hasRole('USER_ROLE')">
                            <a href="importarExpediente">
                                <span class="mf-icon mf-icon-folder-import"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorExpedientes.importar}"></h5>
                                    <p th:text="#{generadorExpedientes.importar.descripcion}"></p>
                                </div>
                            </a>
                        </li>       
                        <li sec:authorize="hasAnyRole('USER_ROLE','CONSULTA_ROLE')">
                            <a href="expedientesAlmacenados">
                                <span class="mf-icon mf-icon-folder"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorExpedientes.almacenados}"></h5>
                                    <p th:text="#{generadorExpedientes.almacenados.descripcion}"></p>
                                </div>
                            </a>
                        </li>               
                    </ul>
                </div>
                <div class="documentos">
                    <h4 th:text="#{generadorDocumentos.title}"></h4>
                    <ul>
                        <li sec:authorize="hasAnyRole('USER_ROLE','GUEST_ROLE')">
                            <a href="generarDocumento">
                                <span class="mf-icon mf-icon-doc-new"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorDocumentos.nuevo}"></h5>
                                    <p th:text="#{generadorDocumentos.nuevo.descripcion}"></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="validarDocumento">
                                <span class="mf-icon mf-icon-doc-check"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorDocumentos.validar}"></h5>
                                    <p th:text="#{generadorDocumentos.validar.descripcion}"></p>
                                </div>
                            </a>
                        </li>   
                        <li sec:authorize="hasRole('USER_ROLE')">
                            <a href="importarDocumento">
                                <span class="mf-icon mf-icon-doc-download"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorDocumentos.importar}"></h5>
                                    <p th:text="#{generadorDocumentos.importar.descripcion}"></p>
                                </div>
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('USER_ROLE','CONSULTA_ROLE')">
	                        <a href="documentosAlmacenados">
	                               <span class="mf-icon mf-icon-docs"></span>
	                               <div class="data">
	                                   <h5 th:text="#{generadorDocumentos.almacenados}"></h5>
	                                   <p th:text="#{generadorDocumentos.almacenados.descripcion}"></p>
	                               </div>
	                        </a>
                        </li>       
                        <li>
                            <a href="visualizarDocumento">
                                <span class="mf-icon mf-icon-doc-search"></span>
                                <div class="data">
                                    <h5 th:text="#{generadorDocumentos.visualizar}"></h5>
                                    <p th:text="#{generadorDocumentos.visualizar.descripcion}"></p>
                                </div>
                            </a>
                        </li>       
                    </ul>               
                </div>
            </div>
        </div>

    </div>
    <div class="mf-veil" style="display:none"></div>
</body>
</html>