<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/inside_layout">
<head>

	<script th:src="|${#httpServletRequest.getContextPath()}/js/adminMensajes.js?v=${session.versionNumber}|"></script>

</head>

<body>

	<div layout:fragment="content">

		<div class="mf-window-header">
			<ul class="mf-window-toolbar">
				<li class="mf-window-toolbar--tool"><a href="#"
					onclick="showDialogCreate()"> <span class="mf-icon mf-icon-add"></span>
						<span th:text="#{button.anadir}"></span>
				</a></li>
			</ul>
		</div>


		<div id="contentData">
			<form id="addMessageForm" th:action="@{/adminMensajes/crear}" method="post">
            	<input type="hidden" name="texto" id="texto"/>
        	</form> 
        	<form id="editMessageForm" th:action="@{/adminMensajes/editar}" method="post">
            	<input type="hidden" name="texto" id="texto"/>
            	<input type="hidden" name="identificador" id="identificador"/>
        	</form> 
        	<form id="deactivateForm" th:action="@{/adminMensajes/desactivar}" method="post">
            	<input type="hidden" name="identificador" id="identificador"/>
        	</form>
        	<form id="activateForm" th:action="@{/adminMensajes/activar}" method="post">
            	<input type="hidden" name="identificador" id="identificador"/>
        	</form>
        	<form id="deleteForm" th:action="@{/adminMensajes/eliminar}" method="post">
            	<input type="hidden" name="identificador" id="identificador"/>
        	</form>
		
			<table id="mensajesTable"
				class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
				<thead>
					<tr>
						<th class="mf-sort-ln" href="·" th:title="#{adminMessages.texto.title}" th:text="#{adminMessages.texto}"></th>
						<th class="mf-sort-ln" href="·" th:title="#{adminMessages.activo.title}" th:text="#{adminMessages.activo}"></th>
						<th class="mf-sort-ln" href="·" th:title="#{adminMessages.fcreacion.title}" th:text="#{adminMessages.fcreacion}"></th>
						<th class="mf-sort-ln" href="·" th:title="#{adminMessages.fmodificacion.title}" th:text="#{adminMessages.fmodificacion}"></th>
						<th class="mf-sort-ln" href="·" th:title="#{adminMessages.tablaAcciones.title}" th:text="#{adminMessages.tablaAcciones}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mensaje,iterationStatus : *{mensajes}">
						<td class="grid-column-creador" th:text="${mensaje.texto}"></td>
						<td class="grid-column-creador" th:text="${mensaje.activo}"></td>
						<td class="grid-column-creador" th:text="${mensaje.fechaCreacion}"></td>
						<td class="grid-column-creador" th:text="${mensaje.fechaModificacion}"></td>
						<td class="grid-column-actions last-column">
                            <ul class="grid-row-actions">  
                                <li class="grid-row-action">
                                    <a class="mf-table-data--row-action  mf-action  mf-action__revisar " th:href="|javascript:${'showDialogEdit(&quot;' + mensaje.identificador + '&quot;,&quot;' + mensaje.texto + '&quot;)'}|" target="_self" title="Editar">
                                        <span class="mf-icon mf-icon-pencil"></span>
                                    </a>
                                </li>
                                <li class="grid-row-action">
                                    <a th:if="${mensaje.activo}"
                                    	id="btn_delete_documento" title="Desactivar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__borrar" 
										th:onclick="|javascript:desactivar('${mensaje.identificador}')|">
										<span class="mf-icon mf-icon-lock"></span>
									</a>
									<a th:if="${!mensaje.activo}"
                                    	id="btn_delete_documento" title="Activar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__borrar" 
										th:onclick="|javascript:activar('${mensaje.identificador}')|">
										<span class="mf-icon mf-icon-unlock"></span>
									</a>
                                </li>
                                <li class="grid-row-action">
                                	<a id="btn_delete_documento" title="Eliminar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__borrar" 
										th:onclick="|javascript:eliminar('${mensaje.identificador}')|">
										<span class="mf-icon mf-icon-trash"></span>
									</a>
								</li>
                            </ul>
                        </td>    
					</tr>
				</tbody>
			</table>
		</div>

		<div id="init-modal-add-message" data-title="Añadir/Editar Mensaje"
			data-modal="1" data-width="450" data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-expediente"
			data-position_h="center" data-position_v="center"
			class="buttonbar--btn simbutton hidden">
			<div>
				<p class="fld">
					<label for="doc_fecha_incorp_expe_modal"
						class="required mf-field-exp"
						th:title="#{adminMessages.texto}"
						th:text="#{adminMessages.texto}"></label>
				<div class="input-auxbtn">
					<div>
						<textarea  id="texto" rows="4" cols="50"/>
					</div>
				</div>
				</p>
			</div>
			<ul class="error-list"></ul>
			<div class="js-timer-veil mf-veil hidden"></div>
		</div>


	</div>

</body>
</html>