// Ayuda interactiva

.#{$ns}-help--container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    
    @include mf-background(rgba(0,0,0,0.8));
}

.mf-help--item {
	position: relative;
	z-index: 9999;
}

.mf-help--tip {
    position: absolute;
    max-width: 300px;
    padding: 1em;
    
    z-index: 99999;

    &.top {
        padding: 0 1em 3em;
        border-left: 1px solid #FFF;
    }

    &.right {
        padding: 1em 0 1em 3em;
        border-top: 1px solid #FFF;
    }

    &.bottom {
        padding: 3em 1em 0 1em;
        border-left: 1px solid #FFF;
    }

    &.left {
        padding: 1em 3em 1em 0;
        border-top: 1px solid #FFF;
    }
}

.mf-help--title {
    color: #EEE;
    font-size: 20px;
    font-weight: normal;

    text-shadow: 0 1px 0 rgba(0,0,0,0.9);
}

.mf-help--text {
    margin: 1em 0 0;
    
    color: #DDD;
    font-size: 12px;

    text-shadow: 0 1px 0 rgba(0,0,0,0.9);
}

.mf-help--frame {

    border: 2px solid rgba(255,255,255,0.5);

    background: rgba(255,255,255,1);
    
    @include border-radius(2px);
    
    @include box-shadow(0 1px 12px rgba(255, 255, 255, 0.3));
}

.mf-help--navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em 5% 3em 55%;

    text-align: center;
    
    @include mf-background(rgba(0,0,0,0.2));

    & > span {
        margin: 0 0.5em;
    }
}

.mf-help-closebtn {
    margin-right: 1em;
    color: #FFF;
    font-size: 14px;
    
    border-color: rgba(0,0,0,0.5);

    @include mf-background(rgb(15, 164, 211));
}