.#{$ns}-tabs {
    
}

.#{$ns}-tabs--nav {
    @extend %tabbar;
}

.#{$ns}-tabs--nav-item {
    & > a {
        padding: $tabitem-padding;
    }
}

.#{$ns}-tabs--tab-content {
    padding: $tabcontent-padding;

    &.is-hidden {
        @include visuallyhidden;
    }

    .#{$ns}-tabs__slide & {
        float: left;
        clear: none;

        &.is-selected {
            height: auto;
        }
    }
}

.#{$ns}-tabs--scroll-container {
    position: relative;
    overflow: hidden;

    @include transition(all 1s ease-in-out 0s);
}