<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/inside_layout">
<head>

<script
	th:src="|${#httpServletRequest.getContextPath()}/js/expedientes_almacenados.js?v=${session.versionNumber}|"></script>

<!-- Mini applet afirma -->
<script
	th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/constantes.js?v=${session.versionNumber}|"></script>
<script
	th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/miniapplet.js?v=${session.versionNumber}|"></script>

<script
	th:src="|${#httpServletRequest.getContextPath()}/js/token.js?v=${session.versionNumber}|"></script>
</head>

<body>

	<div layout:fragment="content">

		<div class="mf-window-header" th:if="${expedientesAlmacenados}">
			<div class="mf-window-header--hgroup">
				<nav class="mf-breadcrumb" role="navigation">
					<ol class="mf-breadcrumb--menu">
						<li class="mf-breadcrumb--item"><a href="principal"
							th:text="#{layout.menu.option.inicio}"></a></li>
					</ol>
				</nav>
				<h3 th:if="${expedientesAlmacenados}"
					class="mf-window-header--title"
					th:utext="#{expedientesAlmacenados.title} + ${#strings.abbreviate(#authentication.unidadOrganicaActiva,50)}"></h3>
			</div>
			<ul class="mf-window-toolbar" th:fragment="actionButtons"
				id="actionButtons">
				<li class="mf-window-toolbar--tool" sec:authorize="hasRole('USER_ROLE')"><a href="generarExpediente">
						<span class="mf-icon mf-icon-new-folder"></span> <span
						th:text="#{generadorExpedientes.nuevo}"></span>
				</a></li>
				<li class="mf-window-toolbar--tool" sec:authorize="hasRole('USER_ROLE')"><a
					href="importarExpediente"> <span
						class="mf-icon mf-icon-folder-import"></span> <span
						th:text="#{generadorExpedientes.importar}"></span>
				</a></li>
			</ul>
		</div>

		<div class="mf-window-header" th:if="${!expedientesAlmacenados}">
			<div class="mf-window-header--hgroup">
				<h3 th:if="${!expedientesAlmacenados}"
					class="mf-window-header--title" th:utext="#{vistasAsociadas.title}"></h3>
			</div>
			<ul class="mf-window-toolbar" th:fragment="actionButtons"
				id="actionButtons">
				<li class="mf-window-toolbar--tool"><a
					href="volverExpedienteAsociado"> <span
						class="mf-icon mf-icon-arrow3-back"></span> <span
						th:text="#{vistasAsociadas.volver}"></span>
				</a></li>
			</ul>
		</div>


		<div id="contentData">
			<form id="volverExpedienteAsociadoForm"
				th:action="@{/volverExpedienteAsociado}" method="get"></form>
			<form id="verExpedienteForm" th:action="@{/verExpediente}"
				method="post">
				<input type="hidden" name="identificador" id="identificador" />
				<input type="hidden" name="navegador" id="navegador" />
			</form>
			<form id="editarExpedienteForm" th:action="@{/editarExpediente}"
				method="post">
				<input type="hidden" name="identificador" id="identificador" /> <input
					type="hidden" name="version" id="version" />
					<input type="hidden" name="navegador" id="navegador" />
			</form>
			<form id="borrarExpedienteForm" th:action="@{/borrarExpediente}"
				method="post">
				<input type="hidden" name="identificador" id="identificador" />
			</form>
			<input type="hidden" name="expresionRegular" id="expresionRegular"
				th:value="${expresionRegular}"></input>
			<table id="expedientList"
				class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
				<thead>
					<tr>
						<th class="mf-sort-ln" href="·"
							th:title="#{expedientesAlmacenados.tablaEstado.title}"
							th:text="#{expedientesAlmacenados.tablaEstado}"></th>
						<th class="mf-sort-ln" href="·"
							th:title="#{expedientesAlmacenados.tablaIdentificador.title}"
							th:text="#{expedientesAlmacenados.tablaIdentificador}"></th>
						<th class="mf-sort-ln" href="·"
							th:title="#{expedientesAlmacenados.tablaFecha.title}"
							th:text="#{expedientesAlmacenados.tablaFecha}"></th>
							
						<th class="mf-sort-ln" href="·"
							th:title="#{expedientesAlmacenados.tablaAcciones.title}"
							th:text="#{expedientesAlmacenados.tablaAcciones}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="expediente,iterationStatus : *{expedientes}"
						th:id="'expediente_'+${iterationStatus.count - 1}">
						<td
							th:if="${expediente.estadoExpediente == T(es.mpt.dsic.inside.model.objetos.expediente.metadatos.ObjetoExpedienteInsideMetadatosEnumeracionEstados).E_01}"
							class="grid-column-contenidos.titulo"
							th:text="#{estadoExpediente.E01}"></td>
						<td
							th:if="${expediente.estadoExpediente == T(es.mpt.dsic.inside.model.objetos.expediente.metadatos.ObjetoExpedienteInsideMetadatosEnumeracionEstados).E_02}"
							class="grid-column-contenidos.titulo"
							th:text="#{estadoExpediente.E02}"></td>
						<td
							th:if="${expediente.estadoExpediente == T(es.mpt.dsic.inside.model.objetos.expediente.metadatos.ObjetoExpedienteInsideMetadatosEnumeracionEstados).E_03}"
							class="grid-column-contenidos.titulo"
							th:text="#{estadoExpediente.E03}"></td>
						<td class="grid-column-creador"
							th:text="${expediente.identificador}"></td>
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${#calendars.format(expediente.fechaVersion, 'dd-MM-yyyy')}"></td>
							
						<td class="grid-column-__actions last-column">
							<ul class="grid-row-actions">
								<li class="grid-row-action" sec:authorize="hasRole('USER_ROLE')"><a
									class="mf-table-data--row-action  mf-action  mf-action__revisar "
									th:onclick="|javascript:${'expedienteGenerarTokenDescargaPasoInicial(&quot;' + expediente.identificador + '&quot;)'}|"
									target="_self"
									th:title="#{expedientesAlmacenados.accion.token}"> <span
										class="mf-icon mf-icon-circle-wheel"></span>
								</a></li>


								<li class="grid-row-action"><a
									class="mf-table-data--row-action  mf-action  mf-action__revisar "
									th:onclick="|javascript:${'showModalVersionExpediente(&quot;' + expediente.identificador + '&quot;)'}|"
									target="_self"
									th:title="#{expedientesAlmacenados.accion.revisar}"> <span
										class="mf-icon mf-icon-pencil"></span>
								</a></li>

								<li class="grid-row-action" sec:authorize="hasRole('USER_ROLE')"><a
									class="mf-table-data--row-action  mf-action  mf-action__revisar "
									th:onclick="'showDialogNameView(&quot;' + ${expediente.identificador} + '&quot;, &quot;' + #{expedientesAlmacenados.identificador.mensaje1} + '&quot;, &quot;' + #{expedientesAlmacenados.identificador.mensaje2} + '&quot;, true)'"
									target="_self"
									th:title="#{expedientesAlmacenados.accion.vistaAbierta}"> <span
										class="mf-icon mf-icon-unlock"></span>
								</a></li>

								<li class="grid-row-action" sec:authorize="hasRole('USER_ROLE')"><a
									class="mf-table-data--row-action  mf-action  mf-action__revisar "
									th:onclick="'showDialogNameView(&quot;' + ${expediente.identificador} + '&quot;, &quot;' + #{expedientesAlmacenados.identificador.mensaje1} + '&quot;, &quot;' + #{expedientesAlmacenados.identificador.mensaje2} + '&quot;, false)'"
									target="_self"
									th:title="#{expedientesAlmacenados.accion.vistaCerrada}"> <span
										class="mf-icon mf-icon-lock"></span>
								</a></li>

								<li class="grid-row-action" sec:authorize="hasRole('USER_ROLE')"><a id="btn_delete_expediente"
									title="Borrar" href="#!"
									class="mf-table-data--row-action  mf-action  mf-action__borrar"
									th:onclick="|javascript:mostrarDialogDeleteExpediente('${expediente.identificador}')|"
									th:attr="data-modal-title=#{expedientesAlmacenados.eliminar}">
										<span class="mf-icon mf-icon-trash"></span>
								</a></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="almacenadosVeil" class="mf-veil hidden"></div>

		<!-- modal del segundo paso de generacion de token que muestra el resultado -->
		<div id="init-modal-generated-token" data-title="Credenciales generadas"
			data-modal="1" data-width="600" data-draggable="0"
			data-clazz="mf-document-dialog js-dialog-documento"
			data-position_h="center" data-position_v="center"
			class="mf-form__stack mf-buttonbar--btn simbutton hidden">
			<div th:replace="expediente/puestaDisposicion :: puestaDisposicion"></div>
		</div>

		<div class="mf-veil" style="display:none"></div>

		<!-- modal del primer paso de generacion de token -->
		<div id="init-modal-generated-token-PasoPrevio"
			data-title="Generar credenciales de acceso" data-modal="1" data-width="600"
			data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento"
			data-position_h="center" data-position_v="center"
			class="buttonbar--btn simbutton hidden">
			<form class="mf-form__stack">
				<fieldset>
					<legend></legend>
					<input class="medium" type="hidden" name="expeId" id="expeId" /> <input
						class="medium" type="hidden" name="interesadosAdded"
						id="interesadosAdded" /> <input class="medium" type="hidden"
						name="organosAdded" id="organosAdded" />

					<div class="fld">
						<label for="doc_fecha_caducidad_token" class="mf-field-doc"
							th:title="#{ generar.token.fechacaducidad}"
							th:text="#{ generar.token.fechacaducidad}"></label> <input
							type="date" id="doc_fecha_caducidad_token"
							name="doc_fecha_caducidad_token" value="" size="14"
							class="mf-datepicker mf-field-doc js-datepicker-today js-fecha-documento"
							title="dd/mm/aaaa"
							onclick="superponer_CalendarioPrimerPlanoModalToken();" />
					</div>

					<div class="fld">
						<label for="organosModal" th:text="#{generar.token.dir3}"></label>
						<input type="text" class="sticked-input-right medium"
							id="organosModal" name="organosModal" maxlength="50" />
					</div>

					<div class="fld">
						<label for="interesados" th:text="#{generar.token.listanif}"></label>
						<div>
							<input type="text" class="sticked-input-right medium"
								id="nifToken" name="nifToken" maxlength="9" />
							<button type="button" name="button" th:value="#{button.anadir}"
								th:utext="#{generarExpediente.metadato.anadir.button}"
								onclick="addInteresadoExp()"></button>
						</div>
						<ul id="listInteresados">
							<li th:each="key, iterationStatus : ${interesadoslista}"
								th:id="${'divInteresado_'+__${iterationStatus.index}__}"><input
								type="text" class="sticked-input-right" disabled="disabled"
								th:field="${interesadoslista[__${iterationStatus.index}__]}" />
								<button
									th:id="${'removeInteresadoButton_' + __${iterationStatus.index}__}"
									class="mf-icon mf-icon-cancel2" type="button" name="button"
									th:value="#{button.eliminar}"
									th:onclick="'removeInteresadoExp(' + ${iterationStatus.index} + ')'"></button>
							</li>
						</ul>
					</div>

					<div class="fld">
						<label for="mailEnvioToken" th:text="#{generar.token.mail}"></label>
						<input class="large" type="email" id="mailEnvioToken"
							name="mailEnvioToken" value="" maxlength="300"
							onblur="validarEmail(this.value)" />
					</div>

					<div class="fld">
						<label for="asunto" th:text="#{generar.token.asunto}"></label> <input
							class="large" type="text" id="asunto" name="asunto" value=""
							maxlength="100" />
					</div>

				</fieldset>
				<fieldset class="fsubmit">
					<button class="primary" type="button" name="button"
						th:value="#{generar.token.botongenerar}"
						onclick="expedienteGenerarTokenDescargaPasoFinal()">
						<span class="mf-icon mf-icon-circle-wheel"></span> <span
							th:utext="#{generar.token.botongenerar}"></span>
					</button>
				</fieldset>
			</form>
		</div>

		<!-- modal de borrado de expediente -->
		<div id="init-modal-borrar-expediente" data-title="Borrar expediente"
			data-modal="1" data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento"
			data-position_h="center" data-position_v="center"
			class="mf-buttonbar--btn simbutton hidden">
			<div>
				<p class="fld">
					<label id="labelBorrar" class="mf-field-doc"
						th:text="#{expedientesAlmacenados.eliminar.mensaje}"></label>
				</p>
			</div>
			<ul class="error-list"></ul>
			<div class="js-timer-veil mf-veil hidden"></div>
		</div>

		<!-- modal de versiones del expediente -->
		<div id="init-modal-versiones-expedientes"
			data-title="Seleccionar versión del expediente" data-modal="1"
			data-width="370" data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-expediente"
			data-position_h="center" data-position_v="center"
			class="buttonbar--btn simbutton hidden">
			<div>
				<p class="fld">
					<label for="doc_fecha_incorp_expe_modal"
						class="required mf-field-doc"
						th:title="#{expedientesAlmacenados.versiones.expediente}"
						th:text="#{expedientesAlmacenados.versiones.expediente}"></label>
				<div class="input-auxbtn">
					<div>
						<input type="hidden" name="identificador_expediente"
							id="identificador_expediente"></input> <select
							id="versiones_expediente" name="versiones_expediente">
						</select>
					</div>
				</div>
				</p>
			</div>
			<ul class="error-list"></ul>
			<div id="almacenadosVeilVersiones" class="mf-veil hidden"></div>
		</div>

		<div id="init-modal-define-view"
			data-title="Introducir el nombre de la nueva vista" data-modal="1"
			data-width="450" data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento"
			data-position_h="center" data-position_v="center"
			class="buttonbar--btn simbutton hidden">
			<div>
				<p class="fld">
					<label for="doc_fecha_incorp_expe_modal" class="mf-field-doc"
						th:title="#{expedientesAlmacenados.nombre.vista}"
						th:text="#{expedientesAlmacenados.nombre.vista}"></label>
				<div class="input-auxbtn">
					<div>
						<input type="text" id="identificer_view" name="identificer_view"
							maxlength="50" style="width: 350px;" class="sticked-input-right" 
							onkeyup="campoSinCaracteresEspeciales()"/>
					</div>
					<div id="infoRegex" class="hidden">
						<label id="textInfoRegex" class="required mf-field-doc"
							style="width: 350px; word-wrap: break-word;"></label>
					</div>
				</div>
				</p>
			</div>
 			<div class="fld">
                <label class="required"
                    th:text="#{generarDocumento.metadato.firma.info}"></label>
                <ul class="radio-list">
                    <li>
                        <input type="radio" name="firmaExp" value="client" id="firmaExp"/>&nbsp;
                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaCliente}"/>
                    </li>
                    <li th:if="${showFirmaServer}">
                        <input type="radio" name="firmaExp" value="server" id="firmaExp"/>&nbsp; 
                        <label for="firmaExp" th:text="#{generarExpediente.metadato.firma.firmaServidor}"/>
                    </li>
                </ul>
            </div>
			<ul class="error-list"></ul>
			<div id="vistaVeilVersiones" class="mf-veil hidden"></div>
		</div>
	</div>

	<script>
		var tableExpedientes;
	</script>

</body>
</html>