<div th:remove="tag" th:fragment="botonesAccionIndice">

    <ul class="item-actions" style="display: inline">
        <li>
            <a  class = "js-crear-carpeta mf-pointer">
                <span class="mf-icon mf-icon-new-folder"> 
                    <span class="js-hide-text" th:text="#{generarExpediente.indice.crearCarpeta.modal.title}">
                    </span>
                </span>
            </a>
        </li>
        <li>
            <a  class = "js-insertar-documento mf-pointer">
                <span class="mf-icon mf-icon-doc-new"> 
                    <span class="js-hide-text" th:text="#{generarExpediente.indice.insertarDocumento.modal.title}"></span>
                </span>
            </a>
        </li>   
        <li style="display: none;">
            <a  class = "js-eliminar-elemento mf-pointer">
                <span class="mf-icon mf-icon-delete"> 
                    <span class="js-hide-text" th:text="#{generarExpediente.indice.eliminarElemento.modal.title}"></span>
                </span>
            </a>
        </li>           
    </ul>

    <div id="init-modal-crear-carpeta" style="display: none;" data-title="Crear Carpeta" data-modal="1" data-draggable="0" data-clazz="tr-dialog tr-help-dialog mf-folder-dialog" data-position_h="center" data-position_v="center" class="buttonbar--btn">
        <p class="fld">
            <label for="nombre_carpeta_modal" class="required" th:text="#{generarExpediente.indice.carpeta.nombre}"></label> 
            <input type="text" id="nombre_carpeta_modal" class="js-no-empty js-submit" name="nombre_carpeta_modal" value="" maxlength="45"/>
        </p>            
        <ul class="error-list">
        </ul>
    </div>


    <div id="init-modal-insertar-documento" style="display: none;z-index: 0;" data-title="Insertar Documento" data-modal="1" data-draggable="0" data-clazz="tr-dialog tr-help-dialog mf-document-dialog" data-position_h="center" data-position_v="center" class="buttonbar--btn ">
        <div>
            <p class="fld">
                <label for="doc_identificador_modal" class="required mf-field-doc" th:title="#{generarExpediente.indice.documento.tooltip}"
                th:text="#{generarExpediente.indice.documento}"></label> 
                <input
                type="file" id="doc_identificador_modal" name="doc_identificador_modal" value=""
                maxlength="45" class="mf-field-doc js-no-empty js-submit"/>     
            </p>            
            <p class="fld">
                <label for="doc_fecha_incorp_expe_modal" class="required mf-field-doc" th:title="#{generarExpediente.indice.documento.tooltip.fecha_incorp_expe}"
                th:text="#{generarExpediente.indice.documento.fecha_incorp_expe}"></label> 
                <input
                type="text" id="doc_fecha_incorp_expe_modal" name="doc_fecha_incorp_expe_modal" value=""
                size="14" class="mf-datepicker mf-field-doc js-datepicker-today" title="dd/mm/aaaa" onclick="superponer_datepicker();"/>                
            </p>                                        
            <p class="fld">
                <label for="doc_orden_expe_modal" class="required mf-field-doc" th:title="#{generarExpediente.indice.documento.tooltip.orden_expe}"
                th:text="#{generarExpediente.indice.documento.orden_expe}"></label> 
                <input
                type="text" id="doc_orden_expe_modal" name="doc_orden_expe_modal" value=""
                maxlength="45" class="mf-field-doc js-no-empty js-number js-submit"/>
            </p>                
        </div>                                  
        <ul class="error-list"></ul>
        <div    class="js-timer-veil" style=" display: none; position: absolute; text-align: center; top: 0; left: 0; width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.2);background-image: url(images/ajax-loader.gif);background-repeat: no-repeat; background-position: center center;"></div>
    </div> 
       
</div>