<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="common/inside_layout">

<head>
    <!-- Styles -->  
    <link th:href="|${#httpServletRequest.getContextPath()}/css/indice.css?v=${session.versionNumber}|" rel="stylesheet" media="screen" />
          
    <!-- Scripts -->  
    <script th:src="|${#httpServletRequest.getContextPath()}/js/generarExpediente.js?v=${session.versionNumber}|"></script>
    <script th:src="|${#httpServletRequest.getContextPath()}/js/indice.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/metadatos.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/moxie.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/plupload.dev.js?v=${session.versionNumber}|"></script> 
    <script th:src="|${#httpServletRequest.getContextPath()}/js/libs/plupload/2/1/2/i18n/es.js?v=${session.versionNumber}|"></script>
    <!-- Mini applet afirma -->
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/constantes.js?v=${session.versionNumber}|"></script>
    <script th:src="|${#httpServletRequest.getContextPath()}/js/applet-firma/miniafirma1.5/miniapplet.js?v=${session.versionNumber}|"></script>
</head>

<body>

<div layout:fragment="content">

    <div class="mf-window-header">
        <div class="mf-window-header--hgroup">
            <h3 class="mf-window-header--title" th:utext="#{verExpediente.tittle}"></h3>
        </div>
        
        <ul class="mf-window-toolbar">
            <li class="mf-window-toolbar--tool">
                <a style="cursor:pointer" onclick="showAyudaDialog()">
                    <span class="mf-icon mf-icon-globe-help"></span>
                    <span th:text="#{generarExpediente.ayuda}"></span>
                </a>
            </li>
        </ul>
        <ul class="mf-window-toolbar"  th:fragment="actionButtons" id="actionButtons">
            <li class="mf-window-toolbar--tool">
	            <a href="#!" onclick="descargarExpedienteCompletoFisico()" th:title="#{generarExpediente.descargarEni.fisico}">
	                <span class="mf-icon mf-icon-doc-download"></span>
	                <span th:text="#{generarExpediente.descargarEni.fisico}"></span>
	            </a>
            </li>           
        	<li class="mf-window-toolbar--tool">
                    <a href="#!" onclick="descargarExpediente()">
                        <span class="mf-icon mf-icon-doc-xml"></span>
                        <span th:text="#{generarExpediente.descargarEni}"></span>
                    </a>
            </li>
            <li class="mf-window-toolbar--tool">
                <a href="#!" onclick="verContenido()">
                    <span class="mf-icon mf-icon-doc-download"></span>
                    <span th:text="#{generarExpediente.verContenido}"></span>
                </a>
            </li>
        </ul> 
         <ul class="mf-window-toolbar">
        	<li class="mf-window-toolbar--tool" th:if="${rastroExpediente}">
				<a href="volverVistasAsociadas">
					<span class="mf-icon mf-icon-arrow3-back"></span> 
					<span th:text="#{vistasAsociadas.listado}"></span>
				</a>
			</li>
			<li class="mf-window-toolbar--tool" th:if="${showAssociates} and ${vistasAsociadas}">
	            <a href="#!" onclick="cargarVistasExpediente()" th:title="#{editarExpediente.vistasAsociadas.title}">
	                <span class="mf-icon mf-icon-doc-list"></span>
	                <span th:text="#{editarExpediente.vistasAsociadas.title}"></span>
	            </a>
            </li>
        </ul>
    </div>
            
    <div id="contentData">
       
        <form id="descargarExpedienteEniForm" th:fragment="descargarExpedienteEniForm" th:action="@{/descargarExpedienteEni}" method="post">
            <input type="hidden" name="contenido" id="contenido" th:value="${expedienteEniConvert}"/>
            <input type="hidden" name="identificador" id="identificador" th:value="${expedienteMetadatos.expediente.metadatosExp.identificador}"/>
            <input type="hidden" name="viewName" id="viewName" value="expediente/generarExpediente"/>
        </form> 
        <form id="descargarExpedienteEniCompletoFisicoForm" th:fragment="descargarExpedienteEniCompletoFisicoForm" th:action="@{/descargarExpedienteEniCompletoFisico}" method="post">
            <input type="hidden" name="contenido" id="contenido" th:value="${expedienteEniConvert}"/>
            <input type="hidden" name="identificador" id="identificador" th:value="${expedienteMetadatos.expediente.metadatosExp.identificador}"/>
            <input type="hidden" name="viewName" id="viewName" value="expediente/generarExpediente"/>
        </form>          
        <form id="verContenidoForm" th:fragment="verContenidoForm" th:action="@{/visualizarExpediente}" method="post">
            <input type="hidden" name="visualizar" id="visualizar" th:value="${visualizar}"/>
            <input type="hidden" name="identificador" id="identificador" th:value="${expedienteMetadatos.expediente.metadatosExp.identificador}"/>
            <input type="hidden" name="viewName" id="viewName" value="expediente/generarExpediente"/>
        </form> 
        <form id="descargarDocForm" th:fragment="descargarDocForm" th:action="@{/descargarDocumentoEni}" method="post">
        	<input type="hidden" name="conAdicionales" id="conAdicionales" value="false"/>
            <input type="hidden" name="identificador" id="identificador"/>
        </form>
        <form id="descargarContenidoDocForm" th:fragment="descargarContenidoDocForm" th:action="@{/descargarContenidoDocumento}" method="post">
            <input type="hidden" name="identificador" id="identificador"/>
        </form>
        <form id="volverVistasAsociadasForm" th:fragment="volverVistasAsociadasForm" th:action="@{/volverVistasAsociadas}" method="get">
        </form>
         <form id="cargarVistasExpedienteForm" th:fragment="cargarVistasExpedienteForm" th:action="@{/cargarVistasExpediente}" method="post">
        	 <input type="hidden" name="identificador" id="identificador" th:value="${expedienteMetadatos.expediente.metadatosExp.identificador}"/>
        	 <input type="hidden" name="version" id="version"  th:value="${version}"/>
        </form>
        <form id="expedienteForm" th:action="@{/generarExpediente}" method="post" class="" th:object="${expedienteMetadatos}">
            <input type="hidden" name="contenidoExp" id="contenidoExp"/>
            <input type="hidden" id="viewName" name="viewName" value="expediente/generarExpediente" />
            <input type="hidden" name="expedienteBytes" id="expedienteBytes"/>

            <div th:fragment="metadatosEniExp">
                <fieldset class="mf-form__stack">
                    <legend>
                        <span th:text="#{generarExpediente.metadatos.tittle}"></span>
                    </legend>
                    <div class="boxes">
                    	<div>
	                        <div class="fld">
	                            <label for="identificador" class="required" th:text="#{generarExpediente.metadato.identificador}"></label> 
	                            <input style="width:525px" disabled="disabled" type="text" id="identificador" name="identificador" value="" maxlength="55" th:field="*{expediente.metadatosExp.identificador}" />
	                            <a class="mf-icon mf-icon-help" href="#!" th:title="#{generarExpediente.metadato.identificador.help} + '&#13;' + #{generarExpediente.metadato.identificador.help2}"></a>    
	                        </div>
	                    </div>
						<div>
							<div class="fld">
	                            <label for="version" th:text="#{editarExpediente.version}"></label> 
	                            <input disabled="disabled" type="text" id="version" name="version" value="" maxlength="45" th:value="${version}" />
	                        </div>
	                    </div>
						<div>
							<div class="fld">
	                            <label for="fechaVersion" th:text="#{editarExpediente.fechaVersion}"></label> 
	                            <input disabled="disabled" type="date" id="fechaVersion" name="fechaVersion" class="mf-datepicker" title="dd/mm/aaaa" 
	                            th:value="${#calendars.format(fechaVersion, 'yyyy-MM-dd')}" size="14" />
	                        </div>
	                     </div>
					</div>
					<div class="boxes">
                    	<div>
							<div class="fld">
	                            <label for="clasificacion" class="required" th:text="#{generarExpediente.metadato.clasificacion}"></label> 
	                            <input disabled="disabled" type="text" id="clasificacion" name="clasificacion" value="" maxlength="45" th:field="*{expediente.metadatosExp.clasificacion}" />
	                            <a class="mf-icon mf-icon-help" href="#!" th:title="#{generarExpediente.metadato.clasificacion.help}" ></a> 
	                        </div>
	                        
	                        <div class="fld">
	                            <label for="estado" th:text="#{generarExpediente.metadato.estado}"></label> 
	                            <select disabled="disabled" id="estado" name="estado" th:field="*{expediente.metadatosExp.estado.value}">
	                                <option th:each="estado,iterationStatus : ${estadosExpediente}" th:text="${estado.key}" th:value="${estado.value}"></option>
	                            </select>
	                        </div>
                        </div>
                        <div class="fld">
                            <label for="fechaApertura" th:text="#{generarExpediente.metadato.fechaApertura}"></label> 
                            <input disabled="disabled" type="date" id="fechaApertura" name="fechaApertura" class="mf-datepicker" title="dd/mm/aaaa" 
                            th:value="${#calendars.format(fechaApertura, 'yyyy-MM-dd')}" size="14" />
                        </div>
	                   	<div>
	                        <div class="fld">
	                            <label class="required" for="organos" th:text="#{verExpediente.metadato.organos}"></label> 
	                            <div class="input-auxbtn">                                
	                                <ul id="listOrganos">
	                                	<li  th:each="key, iterationStatus : *{expediente.metadatosExp.organo}" th:id="${'divOrgano_'+__${iterationStatus.index}__}">
	                                    	<input type="text" class="sticked-input-right" disabled="disabled" th:field="*{expediente.metadatosExp.organo[__${iterationStatus.index}__]}"/>                                    	
	                               		</li> 
	                                </ul>
	                            </div>
	                        </div>
	                     </div>
						<div>
	                        <div class="fld">
	                            <label class="required" for="interesados" th:text="#{verExpediente.metadato.interesados}"></label> 
	                            <div class="input-auxbtn">                    
	                                <ul id="listInteresados">
	                                	<li th:each="key, iterationStatus : *{expediente.metadatosExp.interesado}" th:id="${'divInteresado_'+__${iterationStatus.index}__}">
	                                    	<input type="text" class="sticked-input-right" disabled="disabled" th:field="*{expediente.metadatosExp.interesado[__${iterationStatus.index}__]}"/>                                    	
	                                	</li>
	                                </ul>
	                            </div>
	                        </div>
	                  	</div>
                	</div>
                </fieldset>
                <fieldset id="js-div-metadatos" class="mf-form__stack mf-form__inline">
                        <legend th:text="#{generarExpedienteMetadatos.metadato.adicional}"></legend>
						<div class="fld">
							<div class="metadata-box">
								<div>
								<div class="fld">
									<input type="text" disabled="disabled"
										id="metadatosAdicionales.metadatoAdicional100.nombre"
										th:value="#{generarDocumento.metadato.adicional.nombre.natural.value}"
										name="metadatosAdicionales.metadatoAdicional[100].nombre"
										maxlength="100" />
								</div>
								<div class="fld">
									<input type="text" disabled="disabled"
										id="metadatosAdicionales.metadatoAdicional100.valor"
										th:value="${valorNombreNatural}"
										name="metadatosAdicionales.metadatoAdicional[100].valor"
										maxlength="100" />
								</div>
								</div>
							</div>
							<div class="metadata-box">
								<div class="fld">
									<input type="text" disabled="disabled"
										id="metadatosAdicionales.metadatoAdicional101.nombre"
										th:value="#{generarExpediente.metadato.adicional.nombre.fecha.fin.value}"
										name="metadatosAdicionales.metadatoAdicional[101].nombre"
										maxlength="100" />
								</div>
								<div class="fld">
									<input type="text" disabled="disabled"
										id="metadatosAdicionales.metadatoAdicional101.valor"
										th:value="${valorFechaFin}"
										th:onclick="|javascript:this.value='#{generarExpediente.metadato.adicional.valor.fecha.fin.value}'|"
										name="metadatosAdicionales.metadatoAdicional[101].valor"
										maxlength="100" />
								</div>
							</div>
							<div id="listMetadatosAdicionalesExp">
								<div
									th:each="metadatoAdicional, iterationStatus : *{metadatosAdicionales.metadatoAdicional}"
									th:id="${'divMetadatoAdicional_' + iterationStatus.index}">
									<div class="fld">
										<input type="text" class="sticked-input-right"
											disabled="disabled"
											th:field="*{metadatosAdicionales.metadatoAdicional[__${iterationStatus.index}__].nombre}" />
									</div>
									<div class="fld">
										<input type="text" class="sticked-input-right"
											disabled="disabled"
											th:field="*{metadatosAdicionales.metadatoAdicional[__${iterationStatus.index}__].valor}" />
									</div>
								</div>
							</div>
						</div>
					</fieldset>            



                <fieldset class="fld gallery">
                    <header>
                        <legend>
                            <span th:text="#{generarExpediente.indice.tittle}"></span>
                        </legend>
                        <div class="hidden">
                        	<a href="" class="mf-button" id="js-insertar-documento">
                        		<span class="mf-icon mf-icon-doc-plus"></span>
                        		<span class="" th:text="#{generarExpediente.button.adjuntarDocumento}"></span>
                        	</a>
                        </div>
                    </header>
                    <div id="js-gallery-content" class="gallery_content">
                        <div    id="js-arbol"
                                class="gallery_tree"
                                data-url_carpeta_nueva="/crearCarpetaIndice" 
                                data-url_documento_nuevo="/crearDocumentoIndice" 
                                data-url_elemento_mover="/moverElementoIndice" 
                                data-url_elemento_borrar="/borrarElementoIndice"
                                data-url_elemento_ver="/visualizarContenido"
                                data-url_carpeta_renombrar="/renombrarElementoIndice">
							<div th:fragment="pintarIndice(hijos, idPadre, deshabilitar)" th:each="entry,iterationStatus:${hijos}" th:remove="tag">
								<li th:if="${entry instanceof T(es.mpt.dsic.inside.xml.eni.expediente.indice.contenido.TipoDocumentoIndizado) and !deshabilitar}" 
									data-tipo="documento" th:attr="data-nombre=${keyDocs.get(entry.identificadorDocumento)},data-id=${keyDocs.get(entry.identificadorDocumento)}"
									onclick="onClickItem(event)"
									class="js-arbol-lista-item" th:id="${'tree-node-' + entry.identificadorDocumento}" ondrop="drop2(event)" ondragover="allowDrop2(event)" ondragleave="dragleave(event)" draggable="true" ondragstart="drag(event)">
									<div class="js-arbol-lista-item-cont g-arbol-lista-item-cont">
										<span class="mf-icon mf-icon-doc"></span> 
										<span class="name" th:text="${entry.id}" th:title="${entry.identificadorDocumento}"></span>
										<div class="actions">
											<i title="ver" class="mf-icon mf-icon-eye js-arbol-lista-item-ver" onclick="onClickVer(event)"></i>											
										</div>
									</div>
								</li>
								<li th:if="${entry instanceof T(es.mpt.dsic.inside.xml.eni.expediente.indice.contenido.TipoCarpetaIndizada) and !deshabilitar}" 
									data-tipo="carpeta" th:attr="data-nombre=${entry.identificadorCarpeta}" class="js-arbol-lista-item" th:id="${'tree-node-' + entry.identificadorCarpeta}" 
									onclick="onClickItem(event)"
									ondrop="drop2(event)" ondragover="allowDrop2(event)" ondragleave="dragleave(event)" draggable="true" ondragstart="drag(event)">
									<div class="js-arbol-lista-item-cont g-arbol-lista-item-cont is-open">
										<span class="mf-icon mf-icon-folder js-arbol-lista-item-folder" onclick="onClickFolder(event)"></span>
										<span class="name js-arbol-lista-item-text" th:text="${entry.id}" th:title="${entry.identificadorCarpeta}" onclick="onClickText(event)"></span>
										<div class="actions">											
										</div>
									</div>
									<div th:if="${#lists.size(entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada)}" th:remove="tag">
										<ul class="js-arbol-lista">
											<li class="js-arbol-espacio" data-orden="0" ondrop="drop2(event)" ondragover="allowDrop2(event)" ondragleave="dragleave(event)"></li>
											<div th:replace="this :: pintarIndice(hijos=${entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada}, idPadre=${null}, deshabilitar=${false})" th:remove="tag" />
										</ul>
									</div>
								</li>
								<li th:if="${entry instanceof T(es.mpt.dsic.inside.xml.eni.expediente.indice.contenido.TipoIndiceContenido)}" 
									data-tipo="contenido" onclick="onClickItem(event)" class="js-arbol-lista-item" draggable="true">
									<div class="js-arbol-lista-item-cont g-arbol-lista-item-cont">
											<span class="mf-icon mf-icon-books2" style="color:#795548"></span>
											<span class="name" style="color:#795548" th:text="${#strings.substring(entry.id, 13 , #strings.length(entry.id))}" th:title="#{editarExpediente.vinculado} + ' ' + ${entry.id}"></span>
									</div>
									<div th:if="${#lists.size(entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada)}" th:remove="tag">
										<ul class="js-arbol-lista">
											<li class="js-arbol-espacio" data-orden="0" ></li>
											<div th:replace="this :: pintarIndice(hijos=${entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada},idPadre=${entry.id}, deshabilitar=${true})" th:remove="tag" />
										</ul>
									</div>
								</li>
								<li th:if="${entry instanceof T(es.mpt.dsic.inside.xml.eni.expediente.indice.contenido.TipoDocumentoIndizado) and deshabilitar}" 
									data-tipo="documento" th:attr="data-nombre=${keyDocs.get(entry.identificadorDocumento)},data-id=${keyDocs.get(entry.identificadorDocumento)}"
									onclick="onClickItem(event)"
									class="js-arbol-lista-item" th:id="${'tree-node-' + entry.identificadorDocumento}">
									<div class="js-arbol-lista-item-cont g-arbol-lista-item-cont">
										<span class="mf-icon mf-icon-doc" style="color:#795548"></span> 
										<span class="name" style="color:#a1887f" th:text="${entry.id}" th:title="${entry.identificadorDocumento}"></span>
										<div class="actions">
											<i title="ver" class="mf-icon mf-icon-eye js-arbol-lista-item-ver" onclick="onClickVer(event)"></i>
										</div>
									</div>
								</li>
								<li th:if="${entry instanceof T(es.mpt.dsic.inside.xml.eni.expediente.indice.contenido.TipoCarpetaIndizada) and deshabilitar}" 
									data-tipo="carpeta" th:attr="data-nombre=${entry.identificadorCarpeta},data-id=${entry.identificadorCarpeta}" 
									onclick="onClickItem(event)"
									class="js-arbol-lista-item" th:id="${'tree-node-' + entry.identificadorCarpeta}">
									<div class="js-arbol-lista-item-cont g-arbol-lista-item-cont is-open">
										<span class="mf-icon mf-icon-folder js-arbol-lista-item-folder" onclick="onClickFolder(event)" style="color:#795548"></span>
										<span class="name js-arbol-lista-item-text" th:text="${entry.id}" th:title="${entry.identificadorCarpeta}" onclick="onClickText(event)" style="color:#795548"></span>
									</div>
									<div th:if="${#lists.size(entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada)}" th:remove="tag">
										<ul class="js-arbol-lista">
											<li class="js-arbol-espacio" data-orden="0"></li>
											<div th:replace="this :: pintarIndice(hijos=${entry.documentoIndizadoOrExpedienteIndizadoOrCarpetaIndizada},idPadre=${idPadre}, deshabilitar=${true})" th:remove="tag" />
										</ul>
									</div>
								</li>											
							</div>
							<ul class="js-arbol-lista">
								<li class="js-arbol-espacio" data-orden="0" ondrop="drop2(event)" ondragover="allowDrop2(event)" ondragleave="dragleave(event)"></li>
								<div th:replace="this :: pintarIndice(hijos=${indice}, idPadre=${null}, deshabilitar=${false})" th:remove="tag" />
							</ul>
                            <input id="js-arbol-input" class="is-hidden"/>
                        </div>
                        <div id="js-gallery-visor" class="gallery_visor">
                            
                            <div class="tr-upload-veil js-upload-veil">
                                <span class="trad-drag-upload__title">
                                    Arrastrar y soltar un documento Eni
                                </span>
                                <table id="ul_1902476311562f8fb3e2eb7"></table>
                            </div>
                        </div>
                        
                        <div id="js-gallery-ver" class="gallery_visor hidden">
                        	<div class="fld">
	                        	<ul class="js-gallery-ver--lista-datos dsp_ib">
	                                <li>ID: <span class="js-gallery-ver--lista-datos-id"></span></li>
	                                <li>Estado Elaboración: <span class="js-gallery-ver--lista-datos-estado"></span></li>
	                                <li>Órganos: <span class="js-gallery-ver--lista-datos-organos"></span></li>
	                            </ul>
	                            <div class="fld right" >
	                            	<button id="buttondescargarContenidoDoc" th:title="#{generarDocumento.descargarArchivo.title}"  class="mf-icon mf-icon-doc-download js-gallery-ver--lista-download" onclick="$('#descargarContenidoDocForm').submit();" th:value="#{button.descargar}"></button>
                        			<button th:title="#{generarDocumento.descargarEni.title}" class="mf-icon mf-icon-arrow-download js-gallery-ver--lista-download" onclick="$('#descargarDocForm').submit();" th:value="#{button.descargar}"></button>  
                            		<button th:title="#{button.cerrar}" class="mf-icon mf-icon-cancel js-gallery-ver--lista-cancel" th:value="#{button.cerrar}"></button> 
                            	</div>
                            </div>
                                              

                            <button class="mf-icon mf-icon-arrow3-back js-gallery-ver--mover-izda"></button>
                            <iframe class="js-gallery-ver--visor"></iframe>
                            <button class="mf-icon mf-icon-arrow3-next js-gallery-ver--mover-dcha"></button>                    
                        </div>
                        
                        <div    id="init-modal-insertar-documento" 
                                data-title="Insertar Documento" 
                                data-modal="1" 
                                data-draggable="0"
                                data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
                                data-position_h="center"
                                data-position_v="center" 
                                class="buttonbar--btn simbutton hidden">
                            <div>
                                <p class="fld">
                                    <label for="doc_fecha_incorp_expe_modal" class="required mf-field-doc" th:title="#{generarExpediente.indice.documento.tooltip.fecha_incorp_expe}"
                                        th:text="#{generarExpediente.indice.documento.fecha_incorp_expe}"></label> 
                                    <input
                                        type="date" 
                                        id="doc_fecha_incorp_expe_modal" 
                                        name="doc_fecha_incorp_expe_modal" 
                                        value=""
                                        size="14" 
                                        class="mf-datepicker mf-field-doc js-datepicker-today js-fecha-documento" title="dd/mm/aaaa" 
                                        onclick="superponer_datepicker();"/>                
                                </p>                                        
                            </div>                                  
                            <ul class="error-list"></ul>
                            <div class="js-timer-veil mf-veil hidden">
                            </div>
                        </div>    
                    </div>
                </fieldset>
 
 
 
 



				<!-- tabla de remisiones a justicia de este expediente -->
				<fieldset id="remisionJusticia">
				    <legend th:text="#{remisionJusticia.remisiones.justicia}"></legend>
					<table id="remisionList" class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
						<thead>
							<tr>
							<!-- 
								<th class="mf-sort-ln" href="·"	th:title="#{remisionJusticia.AuditoriaEsbaplicacion.title}" th:text="#{remisionJusticia.AuditoriaEsbaplicacion}"></th>
								<th class="mf-sort-ln" href="·"	th:title="#{remisionJusticia.AuditoriaEsbmodulo.title}" th:text="#{remisionJusticia.AuditoriaEsbmodulo}"></th>
								<th class="mf-sort-ln" href="·"	th:title="#{remisionJusticia.AuditoriaEsbservicio.title}" th:text="#{remisionJusticia.AuditoriaEsbservicio}"></th>
							-->	
								<th class="mf-sort-ln" href="·" th:title="#{remisionJusticia.AuditoriaEsbmarcaTiempo.title}" th:text="#{remisionJusticia.AuditoriaEsbmarcaTiempo}"></th>
								<th class="mf-sort-ln" href="·" th:title="#{remisionJusticia.ack.title}" th:text="#{remisionJusticia.ack}"></th>
								<th class="mf-sort-ln" href="·" th:title="#{remisionJusticia.codigoEnvio.title}" th:text="#{remisionJusticia.codigoEnvio}"></th>
								<th class="mf-sort-ln" href="·"	th:title="#{remisionJusticia.accion.title}" th:text="#{remisionJusticia.mensaje.accion}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="registro, iterationStatus  : ${listaRespuestaEnvioJusticiaLista}">
							<!-- 
								<td class="grid-column-contenidos.titulo"  th:text="${registro.AuditoriaEsb_aplicacion}"></td>					
								<td class="grid-column-creador"	th:text="${registro.AuditoriaEsb_modulo}"></td>
								<td class="grid-column-articulo_tipo.codigo" th:text="${registro.AuditoriaEsb_servicio}"></td>
							 -->
								<td class="grid-column-contenidos.titulo"  th:text="${registro.AuditoriaEsb_marcaTiempo}"></td>	
												
								<td class="grid-column-creador"	 th:if="${registro.ack.equals('true') }" th:text="#{remisionJusticia.resultado.correcto}"></td>
								<td class="grid-column-creador"	 th:if="${not registro.ack.equals('true') }" th:text="#{remisionJusticia.resultado.incorrecto}"></td>

								<td class="grid-column-articulo_tipo.codigo" th:text="${registro.codigoEnvio}"></td>												
								<td class="grid-column-__actions last-column">
									<ul class="grid-row-actions">
										<li class="grid-row-action">
											<a class="mf-table-data--row-action  mf-action  mf-action__revisar "
												th:if="${not registro.AuditoriaEsb_aplicacion.equals('Error') }" 
												th:onclick="|javascript:consultaRemisionJusticia('${registro.AuditoriaEsb_aplicacion}','${registro.AuditoriaEsb_modulo}','${registro.AuditoriaEsb_servicio}','${registro.AuditoriaEsb_marcaTiempo}','${registro.codigoEnvio}')|"
												target="_self"
												th:title="#{remisionJusticia.accion.consultaEstadoRemision}"> <span
												class="mf-icon mf-icon-globes-info"></span>
											</a>
										</li>
									</ul>

								</td>
							</tr>
						</tbody>
					</table>
							
				</fieldset>
					
					
					
					               
                <script th:inline="javascript">
                    /*<![CDATA[*/
                        var metadatosAdded = [[${#arrays.length(expedienteMetadatos.metadatosAdicionales.metadatoAdicional)}]];
                        var organosAdded = [[${#arrays.length(expedienteMetadatos.expediente.metadatosExp.organo)}]];           
                        var organosAddedDoc = 0;
                        var interesadosAdded = [[${#arrays.length(expedienteMetadatos.expediente.metadatosExp.interesado)}]];   
                        if (metadatosAdded > 0) {
                        	$("#js-check-metadatos").prop('checked', true);
                        	$("#js-div-metadatos").removeClass("hidden");
            			}
                    /*]]>*/
                </script>
            </div>

            <div id="expedienteVeil" class="mf-veil hidden">
            </div>

        </form>
    </div>
    
    
    
    
        	<!-- modal consulta remision a justicia de un expediente -->
		<div id="init-modal-consultaRemisionMJU" data-title="Consulta Remisión Expediente MJU"
			data-modal="1" data-width="800" data-draggable="0"
			data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento"
			data-position_h="center" data-position_v="center"
			class="mf-buttonbar--btn simbutton">


			<form id="visualizaDescargarResguardoJusticiaForm" th:fragment="visualizaDescargarResguardoJusticiaForm" th:action="@{/visualizaDescargarResguardoJusticia}" method="post">
	         	<input type="hidden" name="dataResguardoDocBase64" id="dataResguardoDocBase64"/>
	         	<input type="hidden" name="codigoEnvioResguardo" id="codigoEnvioResguardo"/>
	       	</form>	
	       	
				<div class="fld">
					<label  for="identificadorEstado" th:text="#{puntounicojusticia.identificadorEstado}"></label>
					<div class="input-auxbtn">
						<div>
							<input type="text" class="sticked-input-right"	id="identificadorEstado" name="identificadorEstado" readonly="readonly"/>
						</div>
					</div>
				</div>

				<div class="fld">
					<label  for="descripcionEstado" th:text="#{puntounicojusticia.descripcionEstado}"></label>
					<div class="input-auxbtn">
						<div>
							<input type="text" class="sticked-input-right" id="descripcionEstado"	name="descripcionEstado"  readonly="readonly"/>
						</div>
					</div>
				</div>
				
				<fieldset class="mf-form__stack" id="fieldsetComentario">
					<div class="fld">
						<label  for="comentario" th:text="#{puntounicojusticia.comentario}"></label>
						<textarea id="comentario" name="comentario" class="large" rows="2" cols="100"  readonly="readonly"></textarea>
					</div>				
  				</fieldset>
  				
  				<fieldset class="mf-form__stack">
  					<a href="#"  onclick="conmutaVisibilidad();" id="enlaceOnOff">
						<span class="mf-icon mf-icon-circle-wheel"></span>
                    	<span th:text="#{puntounicojusticia.resguardo.datosenvio}"></span>
                	</a>
  				</fieldset>
  				
  				  				
  				
  				<!-- datos del envio a justicia -->
                 <fieldset id="fieldsetDatosEnvio">
                   <legend>
						<span th:text="#{puntounicojusticia.resguardo.datosenvioLegend}"></span>
				   </legend>				   
				   
						<div class="fld">
							<label class="required" for="provinciasModalConsulta" th:text="#{puntounicojusticia.provincia}"></label>
							<div class="input-auxbtn">
								<div>
									<input type="text" class="sticked-input-right"	id="provinciasModalConsulta" name="provinciasModalConsulta" readonly="readonly"/>
								</div>
							</div>
						</div>
		
						<div class="fld">
							<label class="required" for="organosConsulta" th:text="#{puntounicojusticia.organo}"></label>
							<div class="input-auxbtn">
								<div>
									<input type="text" class="sticked-input-right" id="organosConsulta"	name="organosConsulta"  readonly="readonly"/>
								</div>
							</div>
						</div>
		
						<div class="fld">
							<label class="required" for="ordenModalConsulta" th:text="#{puntounicojusticia.orden}"></label>
							<div class="input-auxbtn">
								<div>
									<input type="text" class="sticked-input-right" id="ordenModalConsulta" name="ordenModalConsulta"  readonly="readonly"/>
								</div>
							</div>
						</div>
		
		
		
						<fieldset class="mf-form__stack">
							<legend>
								<span th:text="#{puntounicojusticia.labelProcedimiento}"></span>
							</legend>
							<div class="fld">
								<label class="required" for="claseProcedimientoConsulta"
									th:text="#{puntounicojusticia.claseProcedimiento}"></label>
								<div class="input-auxbtn">
									<div>
										<input type="text" class="sticked-input-right" id="claseProcedimientoConsulta" name="claseProcedimientoConsulta"  readonly="readonly"/>
									</div>
								</div>
							</div>
		
							<div class="block">
								<div class="fld">
									<label class="required" for="procedimientoanioConsulta"	th:text="#{puntounicojusticia.procedimientoanio}"></label> 
									<input type="text" id="procedimientoanioConsulta" name="procedimientoanioConsulta" value="" readonly="readonly"/>
								</div>
		
								<div class="fld">
									<label class="required" for="procedimientonumeroConsulta" th:text="#{puntounicojusticia.procedimientonumero}"></label> 
									<input type="text" id="procedimientonumeroConsulta" name="procedimientonumeroConsulta" value="" readonly="readonly"/>
								</div>
							</div>
						</fieldset>
		
		
						<fieldset class="mf-form__stack">
							<legend>
								<span th:text="#{puntounicojusticia.labelNIG}"></span>
							</legend>
							<div class="block">
								<div class="fld">
									<label class="required" for="niganioAsuntoConsulta" th:text="#{puntounicojusticia.niganioAsunto}"></label> 
									<input type="text" id="niganioAsuntoConsulta" name="niganioAsuntoConsulta" value="" readonly="readonly"/>
								</div>
		
								<div class="fld">
									<label class="required" for="nigcodigoOrdenConsulta" th:text="#{puntounicojusticia.nigcodigoOrden}"></label> 
									<input type="text" id="nigcodigoOrdenConsulta" name="nigcodigoOrdenConsulta" value="" readonly="readonly"/>
								</div>
							</div>
		
							<div class="block">
								<div class="fld"></div>
							</div>
							<div class="block">
								<div class="fld">
									<label class="required" for="nigcodigoPoblacionConsulta" th:text="#{puntounicojusticia.nigcodigoPoblacion}"></label> 
									<input type="text" id="nigcodigoPoblacionConsulta" name="nigcodigoPoblacionConsulta" value="" readonly="readonly"/>
								</div>
		
								<div class="fld">
									<label class="required" for="nignumeroAsuntoConsulta" th:text="#{puntounicojusticia.nignumeroAsunto}"></label> 
									<input type="text" id="nignumeroAsuntoConsulta" name="nignumeroAsuntoConsulta" value="" readonly="readonly"/>
								</div>
							</div>
							<div class="block">
								<div class="fld"></div>
							</div>
							<div class="block">
								<div class="fld">
									<label class="required" for="nigtipoOrganoConsulta" th:text="#{puntounicojusticia.nigtipoOrgano}"></label> 
									<input type="text" id="nigtipoOrganoConsulta" name="nigtipoOrganoConsulta" value="" readonly="readonly"/>
								</div>
								<div class="fld"></div>
							</div>
						</fieldset>
		
						<fieldset class="mf-form__stack">
							<legend>
								<span th:text="#{puntounicojusticia.labelPieza}"></span>
							</legend>
							<div class="block">
								<div class="fld">
									<label class="required" for="piezaclaseProcedimientoConsulta" th:text="#{puntounicojusticia.piezaclaseProcedimiento}"></label>
									<input type="text" id="piezaclaseProcedimientoConsulta" name="piezaclaseProcedimientoConsulta" value="" readonly="readonly"/>
								</div>
		
								<div class="fld">
									<label class="required" for="piezaanioProcedimientoConsulta" th:text="#{puntounicojusticia.piezaanioProcedimiento}"></label>
									<input type="text" id="piezaanioProcedimientoConsulta" name="piezaanioProcedimientoConsulta" value="" readonly="readonly"/>
								</div>
							</div>
		
							<div class="block">
								<div class="fld"></div>
							</div>
							<div class="block">
								<div class="fld">
									<label class="required" for="piezanumeroPiezaConsulta" th:text="#{puntounicojusticia.piezanumeroPieza}"></label> 
									<input type="text" id="piezanumeroPiezaConsulta" name="piezanumeroPiezaConsulta" value="" readonly="readonly"/>
								</div>
		
								<div class="fld">
									<label class="required" for="piezanumeroProcedimientoConsulta" th:text="#{puntounicojusticia.piezanumeroProcedimiento}"></label>
									<input type="text" id="piezanumeroProcedimientoConsulta" name="piezanumeroProcedimientoConsulta" value="" readonly="readonly"/>
								</div>
							</div>
						</fieldset>
		
		
						<fieldset class="mf-form__stack">
							<legend>
								<span th:text="#{puntounicojusticia.labelpresentador}"></span>
							</legend>
		
		
							<div class="fld">
								<label class="required" for="presentadorcodigoOrganoRemitenteConsulta" th:text="#{puntounicojusticia.presentadorcodigoOrganoRemitente}"></label>
								<div class="input-auxbtn">
									<div>
										<input type="text" class="sticked-input-right" id="presentadorcodigoOrganoRemitenteConsulta" name="presentadorcodigoOrganoRemitenteConsulta" readonly="readonly"/>
									</div>
								</div>
							</div>
		
		
		
							<div class="fld">
								<label class="required" for="presentadordescripcionPresentadorExpedienteConsulta" th:text="#{puntounicojusticia.presentadordescripcionPresentadorExpediente}"></label>
								<input class="large" type="text" id="presentadordescripcionPresentadorExpedienteConsulta" name="presentadordescripcionPresentadorExpedienteConsulta" value="" readonly="readonly"/>
							</div>
						</fieldset>				   
				   
				   
				   
               	</fieldset>			
                
                <fieldset id="bloqueResguardoEnvio">

                   <legend id="recepcion1">
						<span th:text="#{puntounicojusticia.resguardoRecepcion}">:</span>
				   </legend>
				   <legend id="recepcion2">
						<font size="2"><span th:text="#{puntounicojusticia.textoRecepcion}"></span></font>
				   </legend>
				   
				   <legend id="envio1">
						<span th:text="#{puntounicojusticia.resguardoEnvio}">:</span>
				   </legend>
				   <legend id="envio2">
						<font size="2"><span th:text="#{puntounicojusticia.textoEnvio}"></span></font>
				   </legend>
				   				   
                   <div class="block" th:if="${!navegador}">
                      <div class="fld">
                            <iframe id="visorResguardo" class="js-gallery-ver--visor" style="width:750px; height:300px;"></iframe>
                       </div>
                       <div class="js-timer-veil mf-veil hidden">
                       </div>
                    </div>
                    
                   <div class="block" th:if="${navegador}">
                      <span>                    	                
                	    <a href="#!" onclick="visualizaDescargarResguardoJusticia()"  th:title="#{generarDocumento.descargarArchivo.title}">
	                        <span class="mf-icon mf-icon-doc-download"></span>
	                        <span th:text="#{generarDocumento.descargarArchivo}"></span>
	                    </a>
                    	</span>
                    </div>
                    
                </fieldset>			
		
			<div id="modalConsultaRemisionVeil" class="mf-veil hidden"></div>
		</div>
    
    
    
    
    
    
</div>

	<script>
		var tableRemisiones;
	</script>
	
</body>
</html>