/*************************/
/* window w/ parent list */

.wParent {
    // width: 960px;
    overflow: visible;
    padding-bottom: 20px;
    
    background: #DDD;
    
    @include box-shadow(0 1px 2px rgba(0,0,0,0.5));
}
    
.windowParentHeader {
    padding: 20px 20px 0 20px;
    overflow: hidden;

    color: #CCC;

    .windowTitle {
        font-size: 2em;
        font-style: normal;
        padding: 0;

        .windowTitle a {
            padding-top: 0.6em;
        }
    }

    .windowSubtitle {
        font-size: 1.167em;
        font-weight: normal;
    }

    & > div {
        margin: 10px 0;
    }

    & > div a,
    & > div a:link,
    & > div a:visited {
        display: block;

        color: #999;
    }
}

.wParentContent {
    // width: 920px;
    margin-bottom: 20px;
    
    position: relative;
    left: 15px;
    top: 0;
    
    border: 5px solid #EEE;

    background: #FFF;

    @include box-shadow(0 1px 15px rgba(0,0,0,0.5));

    .ie8 & {
        border-style: solid;
        border-width: 1px;
        border-color: #DDD #CCC #BBB #CCC;
    }
}

/* Close button */

.close-wParentContent {
    float: right;
    position: relative;
    height: 0;
    width: 24px;
    padding-top: 24px;
    overflow: hidden;
    top: -15px;
    right: -15px;

    outline: none;

    /* border: 2px solid #999; */
    
    @include border-radius(16px);
    
    background: #999 url('images/icons/closepopup_out_24.png') no-repeat center center;

    @include box-shadow(0 1px 3px rgba(0,0,0,0.7));
}