.glow,
.hglow_grey:hover {
    -moz-animation-name: glow_grey;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: alternate;

    -webkit-animation-name: glow_grey;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
}

@-moz-keyframes glow_grey {
    from { box-shadow: 0px 1px 2px rgba(0,0,0,0.5); }
    to   { box-shadow: 0px 1px 7px rgba(0,0,0,0.5); }
}

@-webkit-keyframes glow_grey {
    from { -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5); }
    to   { -webkit-box-shadow: 0px 1px 7px rgba(0,0,0,0.5); }
}