<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/inside_layout">
<head>
<script
	th:src="|${#httpServletRequest.getContextPath()}/js/busquedaElastic.js?v=${session.versionNumber}|"></script>

<link rel="stylesheet" type="text/css" th:href="|${#httpServletRequest.getContextPath()}/css/elastic.css?v=${session.version}|"/>
	 
</head>

<body>

	<div layout:fragment="content">
		<div id="contentData">
			<form id="enviarTokenAccesoExpedienteForm" th:action="@{/remitirTokenSolicitudAcceso}"
				method="post">
				<input type="hidden" name="identificador" id="identificador" />
			</form>		
			<table id="busquedaElasticTable"
				class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
				<thead>
					<tr>
						<th></th>
						<th class="mf-sort-ln" href="·"
							th:title="#{elastic.cabecera.tipo}"
							th:text="#{elastic.cabecera.tipo}"></th>
						<th class="mf-sort-ln" href="·"
							th:title="#{elastic.cabecera.identificador}"
							th:text="#{elastic.cabecera.identificador}"></th>
						<th hidden="true"></th>
						<th hidden="true"></th>
						<th hidden="true"></th>
						<th hidden="true"></th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="objetoElastic,iterationStatus : *{objetosElastic}"
						th:id="'objetoElastic_'+${iterationStatus.count - 1}">
						<td></td>
						<td class="grid-column-creador"
							th:text="${objetoElastic.tipoObjeto}"></td>
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${objetoElastic.identificador}"></td>
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${objetoElastic.cadenaMetadatos}" hidden="true"></td>	
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${objetoElastic.cadenaMetadatosJson}" hidden="true"></td>		
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${objetoElastic.cadenaMetadatosAdicionales}" hidden="true"></td>	
						<td class="grid-column-articulo_tipo.codigo"
							th:text="${objetoElastic.cadenaMetadatosAdicionalesJson}" hidden="true"></td>																				
					</tr>
				</tbody>
			</table>
		</div>


	</div>
	
	<script>
		var tableExpedientes;
	</script>

</body>
</html>