<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/inside_layout">

<head>

</head>

<body class="inicio">
	<div layout:fragment="content">

		<div id="contentData">

			<form id="puestaDisposicionForm" th:action="@{/puestaDisposicion}" method="post" class="mf-form__stack">
				<div th:fragment="puestaDisposicion">
					
					<div class="fld">
						<label for="identificador"
							th:text="#{expedientesAlmacenados.identificador}"></label> 
							<input class="large" type="text" id="tokenIdentificador" name="tokenIdentificador" value="" maxlength="55" readonly="readonly"/>
					</div>
					<div class="fld">
						<label for="csv" th:text="#{expedientesAlmacenados.csv}"></label>
						<input class="large" type="text" id="tokenCsv" name="tokenCsv" value="" maxlength="55" readonly="readonly"/>
					</div>
					<div class="fld">
						<label for="uuid" th:text="#{expedientesAlmacenados.uuid}"></label>
						<input class="large" type="text" id="tokenUuid" name="tokenUuid" value="" maxlength="55" readonly="readonly"/>
					</div>
							
					
					<input class="large" type="hidden" id="tokenfechaCaducidad" name="tokenfechaCaducidad"/>
					
																	
					<div class="fld">
						<input type="button" id="botonTokenxml" value="Descargar fichero con las credenciales de acceso" onclick="descargarTokenXML()"/>
					</div>
				</div>

				<div class="fld">
					<button type="submit" name="submit" th:value="#{button.descargar}"></button>
				</div>

			</form>

		</div>

	</div>
</body>
</html>